.anchor {
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
  display: block;
}


.fluxTriZoom {
  opacity: 0;
}


.fullSVG {
  width: 100vw;
  height: 100vh;
}


.smallHero {
  font-weight: 300;
}

.smallHeroBold {
  font-weight: 800;
  font-style: italic;
}


@keyframes fadeInHoldFadeOut {
  0% {
    opacity: 0;
    transform: scale(3,3);
  }

  /*15% {*/
    /*opacity: 0.2;*/
    /*transform: scale(2,2);*/
    /*transform-origin: 50% 50%;*/
  /*}*/

  30% {
    opacity: 1;
    transform: scale(1,1);
  }

  70% {
    opacity: 1;
    transform: scale(1,1);
  }

  100% {
    opacity: 0;
    transform: scale(0,0);
  }
}


@keyframes fadeInHold {
  0% {
    opacity: 0;
    transform: scale(5,5);
    transform-origin: 50% 50%;
  }

  50% {
    opacity: 0.2;
    transform: scale(2,2);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 1;
    transform: scale(1,1);
    transform-origin: 50% 50%;
  }
}
