.idea
elm-stuff
node_modules
elm_stuff
_site/*
_site*
.sass-cache
.jekyll-metadata
.jekyll-cache
npm-debug.log
.publish
react-signup/node_modules
*.DS_Store
react-signup/main.css
css/main.css
js/donationWidget.js
js/reactSignup.js
js/bundle-*
signup/
temp.elm.js
css/*.bundle.css
.bundle
.bundle-gems
