---
layout: default
title: About FLUX
permalink: /about/
---

<div class="bg-near-black light-gray py3 px2 sm-px3 relative z2">
  {% include header.html %}
</div>

<section class="bg-near-black light-gray py4 px2 sm-px3 relative z1 shadow">
  <div class="max-width-3 mx-auto">

    <div class="mb3">
      {% include
        components/main-heading.html
        text="Get to know Flux"
        font-size="h0" %}
    </div>

    <div class="sm-flex mxn3">

      <div class="px3 pb3 sm-pb0 py2 sm-col-4">
        <h2 class="h1 muted">1.</h2>
        <a href="#the-problem" class="link-reset h3 block border-bottom pb2">
          The problem Flux wants to solve.
        </a>
      </div>

      <div class="px3 pb3 sm-pb0 py2 sm-col-4">
        <h2 class="h1 muted">2.</h2>
        <a href="#what-is-flux" class="link-reset h3 block">
          Change the way politics is done today
        </a>
      </div>


      <div class="px3 pb3 sm-pb0 py2 sm-col-4">
        <h2 class="h1 muted">3.</h2>
        <a href="#how-flux-works" class="link-reset h3 block">
          How Flux will work in 3 easy steps
        </a>
      </div>

    </div>

  </div>
</section>

<section id="the-problem" class="bg-light-gray dark-gray py4 px2 sm-px3">
  <div class="max-width-3 mx-auto">
<!--     <div class="circle square-2 border relative muted mb4">
      <h1 class=" regular m0 center-xy">1</h1>
    </div> -->
    <h1 class="muted mb3">1.</h1>
    {% include
        components/main-heading.html
        text="What's wrong with government today?"
        sub-text="The problems Flux wants to solve."
        font-size="h1"
        font-weight="regular" %}

    <div class="mb3">
      <h3 class="regular">Australian politics is broken</h3>
      <p class="mid-gray">
        Traditional politicians say one thing to get elected and then do another. Horse trading and back room deals have become more important than good policy, and the will of the people. Powerful lobby groups, and international corporations wield enormous political power, while ordinary Australians have little meaningful say in their country.
      </p>
    </div>

    <div class="mb3">
      <h3 class="regular">Parliment is not fit for the information age</h3>
      <p class="mid-gray">
        Our parliament is based on the exclusivity of a nineteenth century power structure that doesn't work for the information age. When it comes to the challenges of a modern world, it's just not up to the task. As more information is produced every day than one could read in a lifetime, the demands for governmental specialisation and decentralisation have never been higher. Using some clever technology, Flux will put political power into the hands of those best suited to use it.
      </p>
    </div>

    <div class="mb3">
      <h3 class="regular">“Business as usual” just won't do</h3>
      <p class="mid-gray">
        New policy platforms are not enough to fix this mess. “Business as usual” just won't do. Flux is here to redistribute political power, empower the Australian people through real political participation, and enable specialists to help repair bad policy. Flux will give Australia the framework it needs to meet the challenges of the 21st century head on.
      </p>
    </div>
  </div>
</section>

<section id="what-is-flux" class="bg-white dark-gray py4 px2 sm-px3">
  <div class="max-width-3 mx-auto">
    <h1 class="muted mb3">2.</h1>

    {% include
        components/main-heading.html
        text="What is Flux?"
        sub-text="A change in the way politics is done today"
        font-size="h1"
        font-weight="regular" %}

    <div class="mb3">
      <h3 class="regular">A Gateway to participate directly in parliment</h3>
      <p class="mid-gray">
        Flux is a gateway Australians can use, to participate directly in parliament, making the need for trust in elected officials a thing of the past. Elected Flux MP’s and Senators give up their autonomy and use their votes in line with the outcomes produced by the Flux ecosystem; an ecosystem comprised of ordinary Aussies like you.
      </p>
    </div>

    <div class="mb3">
      <h3 class="regular">An app on your smartphone or computer</h3>
      <p class="mid-gray">
        When Flux is implemented, it will take the form of an app you can access right from your computer or smartphone. You’ll be given a vote on every bill put before Federal Parliament, and can use that vote immediately on the issue at hand, give it to a trusted third party to cast on your behalf, or save it for an issue you care more passionately about later.
      </p>
    </div>

    <div class="mb3">
      <h3 class="regular">A vehicle for driving change</h3>
      <p class="mid-gray">
        Flux as a party is a vehicle for driving this systemic political change, with no policy platform beyond parliamentary reform. Flux as a system, is a tool for changing how policy is shaped. It will allow more voices to join the conversation, empower specialists to become politically involved in their fields, and grant Australians direct access to producing better policy for a better Australia.
      </p>
    </div>
  </div>
</section>

<section>
  sign up
</section>


<section id="how-flux-works" class="bg-light-gray dark-gray py4 px2 sm-px3">
  <div class="max-width-3 mx-auto">
    <h1 class="muted mb3">3.</h1>

    {% include
        components/main-heading.html
        text="How Flux works"
        sub-text="In 3 easy steps"
        font-size="h1"
        font-weight="regular" %}

    <div class="sm-flex mb4 mxn3">
      <div class="sm-col-9 px3">
        <h3 class="h2 regular">1. Get</h3>
        <p class="mid-gray sm-h3">
          Flux is egalitarian. Every Australian citizen enrolled in Flux receives one vote for each bill before parliament.
        </p>
      </div>

      <div class="sm-col-3 px3 relative">
        <span class="border circle p2 center-xy">info graphic here</span>
      </div>
    </div>

    <div class="sm-flex mb4 mxn3">
      <div class="sm-col-9 px3">
        <h3 class="h2 regular">2. Swap</h3>
        <p class="mid-gray sm-h3">
          Flux is egalitarian. Every Australian citizen enrolled in Flux receives one vote for each bill before parliament.
        </p>
      </div>

      <div class="sm-col-3 px3 relative">
        <span class="border circle p2 center-xy">info graphic here</span>
      </div>
    </div>

    <div class="sm-flex mb4 mxn3">
      <div class="sm-col-9 px3">
        <h3 class="h2 regular">2. Cast</h3>
        <p class="mid-gray sm-h3">
          Flux is egalitarian. Every Australian citizen enrolled in Flux receives one vote for each bill before parliament.
        </p>
      </div>

      <div class="sm-col-3 px3 relative">
        <span class="border circle p2 center-xy">info graphic here</span>
      </div>
    </div>


  </div>
</section>
