---
title: Australian Political Party Flux | Vote For The Policies You Support
permalink: "/about/"
layout: default
dark-theme: true
nav-title: About
group: navigation
nav-order: 10
---

{% include navbar.html %}
<div class="bg-near-black texture-bg-img height-30vh py4">

<div class="max-width-4 mx-auto px2 sm-px3 pt5">
  {% include components/main-heading.html
    text="Flux explained"
    font-size="h0"
    font-weight="bold"
    line="true"
    classes="white" %}

    <p class="h-font h3 sm-h2 light sm-col-8 silver letter-spacing-2">
      Flux is a gateway Australians can use, to participate directly in parliament, making the need for trust in elected officials a thing of the past. Elected Flux MPs and Senators give up their autonomy and use their votes in line with the outcomes produced by the Flux ecosystem; an ecosystem comprised of ordinary Aussies like you.
    </p>
</div>


</div>
<div class="bg-near-white mid-gray">
  <div class="max-width-4 mx-auto">



      {% assign items = site.about | sort: 'menu-order' %}

        {% for item in items %}
          {% if item.url != page.url %}
            <hr class="light-silver muted border-bottom m0">
            <section class="dark-gray px2 sm-px3 py4 relative z1">
              <div class="max-width-4 mx-auto">
                <div class="sm-col-9">
                  <h5 class="h4"><span class="gray">
                    ABOUT FLUX</span> / <span class="bold">{{item.tag-topic | upcase }}</span>
                  </h5>
                  <h1 class="h1 bold">{{item.title}}</h1>
                  <a href="{{site.baseurl}}{{item.url}}" class="h4 sm-h3 link-reset border-bottom inline-block accent">
                    Learn more
                  </a>
                </div>
              </div>
            </section>

          {% endif %}
        {% endfor %}


  </div>
</div>
{% include footer.html %}
