---
title: State Parties
permalink: "/branches/"
layout: default
dark-theme: true
group: navigation
nav-title: State Parties
nav-order: 22
branches:
- state: act
  registration: Complete
  status: Looking for Executive Committee Members.
  name: The Flux Party — ACT
- state: wa
  registration: Complete
  status: Preparing for 2019 Federal Election.
  name: <a href="https://voteflux.org/wa">The Flux Party - WA</a>
- state: qld
  registration: Complete
  status: Preparing for 2019 Federal Election.
  name: <a href="https://www.facebook.com/fluxqld/">The Flux Party Queensland</a>
- state: nsw
  registration: Complete
  status: Preparing for State (March 2019) & 2019 Federal Election.
  name: <a href="https://www.facebook.com/Flux-NSW-1963383213988706/">Flux Party (NSW)</a>
- state: tas
  registration: By the end of 2019
  status: Need 100+ Statutory Declarations. Next Tasmanian state election in, or before, 2022
  howToLink: http://www.electoral.tas.gov.au/pages/ElectoralInformation/Approvals/PDF/S44(1)%20-%20F44(1).pdf
  name: Name TBD
- state: vic
  registration: By the end of 2019
  status: Need 500 members, other requirements ambiguous
  howToLink: https://www.vec.vic.gov.au/CandidatesAndParties/RegisteringAPoliticalParty.html
  name: Name TBD
- state: sa
  registration: By the end of 2019
  status: Need 200 members
  howToLink: http://www.ecsa.sa.gov.au/parties-and-candidates/how-to-register-a-political-party
  name: Name TBD
- state: nt
  registration: By the end of 2019
  status: Need 200 members
  howToLink: http://www.ntec.nt.gov.au/CandidatesAndParties/RegistrationOfPoliticalParties/Pages/Party-Registration.aspx
  name: Name TBD
---

{% include navbar.html %}

<div id="fb-root"></div>


<div class="bg-near-white dark-gray py4 ">

  <!-- Use provided imagery here -->
  <div class="bg-near-black height-40vh absolute z1 left-0 top-0 col-12 texture-bg-img"></div>

  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">
    <!-- <div class="max-width-3 mx-auto px2 sm-px3 pt4 pb3 bg-white"> -->
    {% include components/main-heading.html
    text="State/Territory Branches"
    font-size="h0"
    font-weight="bold"
    line="true" %}

    <div class="mb3 pb3 border-bottom">

      <div class="m3">
        <h4>For a general overview of all state branch requirements, see <a href="http://blogs.abc.net.au/antonygreen/2013/12/comparative-rules-on-registering-political-parties.html">here</a>.</h4>
      </div>

      {% for branch in page.branches %}
        <div class="m3 branch" id="branch-{{branch.state}}">
          <h2>{{branch.state | upcase}} Branch: {{ branch.name }}</h2>
          <h4>Status: {{branch.status}}</h4>
          <h4>Registration: {{branch.registration}}</h4>
          {% if branch.howToLink %}
          <h5><a href="{{branch.howToLink}}">Registration Guide</a></h5>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>


  <div class="max-width-3 mx-auto">
    <div class="mt4"><i class="material-icons mr1">arrow_back</i><a href="{{site.baseurl}}/" class="inline-block">Back to home page</a></div>
  </div>

</div>

{% include footer.html %}
