---
layout: default
permalink: /candidates/
---

{% include navbar.html %}
<main class="py4 dark-gray bg-near-white">
  <div class="mx-auto max-width-4">
    <div class="px2 sm-px3 mt4">

      {% include components/main-heading.html
        text="Meet the candidates"
        font-size="h0 line-height-2"
        font-weight="bold"
        line="true" %}

      <p class="h3 sm-h2 h-font light md-col-9 mb4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <div class="sm-flex flex-wrap mxn2">
        {% for candidate in site.candidates %}
          {% include candidates/candidate-card.html
             state=candidate.state
             house=candidate.house
             url=candidate.url
             title=candidate.title %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
