---
layout: default
dark-theme: true
title: Dashboard
permalink: /dashboard/
tag-section: flux graphs
tag-topic: dashboard
nav-title: Dashboard
---

{% include navbar.html %}
<div class="bg-near-white dark-gray py4 ">
  <div class="bg-near-black height-40vh absolute z1 left-0 top-0 col-12 texture-bg-img">
  </div>
  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">
    <section class="" ng-app='fluxApp'>
      <div class="mx-auto max-width-3" ng-controller='FluxController as flux'>
        <div class="">

          <div class="h-font light lg-col-10 mid-gray sm-pr4 mx" style="max-width: 600px;">

            <h1>Live Membership Stats</h1>
            <h3 ng-repeat="days in flux.growthDays track by $index">Membership growth over last {{'days' | angular}} days: {{'(flux.growthStat(days) * 100).toString().slice(0,4)' | angular}}%</h3>
            <div id="membershipChart" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberDobYearChart" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberStateChart" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberSignupDaysAgo" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberSignupHoursAgo" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberDayPopularity" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="memberHourPopularity" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>
            <div id="stateSignupTimes" style="height: 370px; max-width: 600px;" class="col-sm-12"></div>

          </div>
        </div>
      </div>
    </section>

    <script src="/js/angular.min.js"></script>
    <script src="/js/lodash.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      var fluxApp = angular.module('fluxApp', []);

      // NOTE: This is just for dashboard.html; and is separate to the FluxController in members.html and membership-ng.js, etc
      fluxApp.controller('FluxController', function ($scope, $log, $rootScope, $http) {
        $rootScope._ = _;

        var flux = this;
        flux.membershipError = '';
        $scope._showExtraGraphs = false;
        flux.signupVolunteer = false;
        flux.growthDays = [];  // note: set later on to trigger redraw
        flux.nameTempVar = "Dashboard";

        if (document.location.hostname == 'localhost') {
          flux.debug = true;
        }

        flux.handleError = function(error){
          $log.log('An error occured:');
          $log.log(error);
        };

        flux.api = function (path) {
          if (flux.debug) {
            return "http://localhost:5000/api/v0/" + path;
          }
          return "https://api.voteflux.org/api/v0/" + path;
        };

        flux.growthStat = function(d){
          return 0;
        };

        // generate graphs from public stats
        $http.get(flux.api('public_stats')).then(function(data){
          $log.log("Got public stats ---V ");
          $log.log(data['data']);

          // members over time
          var tss = _.map(data.data.signup_times, function(ts){return new Date(ts*1000);});
          tss.reverse();
          var ns = _.range(1, tss.length + 1);
          var plotData = [{x: tss, y: ns, type: 'scatter'}];
          Plotly.newPlot('membershipChart', plotData, {title: 'Members v Time'});

          // dob years histogram
          var years = Object.keys(data.data.dob_years);
          years.sort();
          var year_freq = _.map(years, function(y){return data.data.dob_years[y]});
          var plotData2 = [{x: years, y: year_freq, type: 'bar'}];
          Plotly.newPlot('memberDobYearChart', plotData2, {title: 'Member Years of Birth'});

          // states histogram
          var states = Object.keys(data.data['states']);
          states.sort();
          var state_n = _.map(states, function(y){return data.data['states'][y]});
          var plotData3 = [{x: states, y: state_n, type: 'bar'}];
          Plotly.newPlot('memberStateChart', plotData3, {title: 'Member States'});

          // members over last 60 days and 7 days (hourly)
          var nDays = 60;
          var nDaysForHours = 7;
          var _now = Date.now();
          var _7_days_ago = _now - (nDaysForHours * 24 * 60 * 60 * 1000);
          var _n_days_ago = _now - (nDays * 24 * 60 * 60 * 1000);
          var recent_tss = _.filter(data.data['signup_times'], function(timestamp){ return timestamp*1000 > (_now - 1000 * 60 * 60 * 24 * (nDays + 1)); });

          // http://stackoverflow.com/questions/3552461/how-to-format-a-javascript-date
          function toJSONLocal (date) {
            var local = new Date(date);
            local.setMinutes(date.getMinutes() - date.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
          }

          var timestamp_counter = {};
          var timestamp_counter_for_hours = {};

          _.map(_.range(_n_days_ago, _now, 1000 * 60 * 60), function(ts){
            ts_date = new Date(ts);
            var y_m_d = toJSONLocal(ts_date);
            timestamp_counter[y_m_d] = 0;
            if(ts > _7_days_ago)
              timestamp_counter_for_hours[y_m_d + '-' + ts_date.getHours().toString()] = 0;
          });  // hourly increments set default.

          _.map(recent_tss, function(ts){
            var ts_date = new Date(ts*1000);
            var local_y_m_d = toJSONLocal(ts_date);
            timestamp_counter[local_y_m_d] += 1;
            if(ts*1000 > _7_days_ago){
              timestamp_counter_for_hours[local_y_m_d + '-' + ts_date.getHours().toString()] += 1;
            }
          });
          var results = timestamp_counter;
          $log.log(results);
          var dates4 = Object.keys(results);
          var datesSignupsHourly = Object.keys(timestamp_counter_for_hours);
          dates4.pop();  // account for the one day added when generating recent_tss;
          datesSignupsHourly.pop();
          var newMembers = _.map(dates4, function(d){ return results[d]; });
          var hourlySignups = _.map(datesSignupsHourly, function(d){ return timestamp_counter_for_hours[d]; });
          // newMembers.pop();  // account for the one day added when generating recent_tss;
          var plotData4 = [{x: dates4, y: newMembers, type: 'bar'}];
          var plotDataSignupsHourly = [{type: 'scatter', line: {shape: 'spline'}, x: datesSignupsHourly, y: hourlySignups}];

          Plotly.newPlot('memberSignupDaysAgo', plotData4, {
            title: 'Member Signup for Last ' + nDays.toString() + ' Days',
            xaxis: {title: 'Days Ago'}, yaxis: {title: '# Signups'}
          });
          Plotly.newPlot('memberSignupHoursAgo', plotDataSignupsHourly, {
            'title': 'Members Signups last 7 days, hourly',
            xaxis: {title: 'Signup time'}, yaxis: {title: '# Signups'}});

          // day and hour popularity
          var day_pop = {};
          var hour_pop = {};
          var day_map = {0: 'Sunday', 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday'};
          var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
          _.map(tss, function(ts){
            var d = day_map[ts.getDay()];
            if (day_pop[d] === undefined) day_pop[d] = 1;
            else day_pop[d] += 1;

            var h = ts.getHours();
            if (hour_pop[h] === undefined) hour_pop[h] = 1;
            else hour_pop[h] += 1;
          });
          var dp_x = days;
          var dh_x = Object.keys(hour_pop);
          var plotDataDayPop = [{x: dp_x, y: _.map(dp_x, function(x){ return day_pop[x]; })}];
          var plotDataHourPop = [{x: dh_x, y: _.map(dh_x, function(x){ return hour_pop[x]; })}];
          Plotly.newPlot('memberDayPopularity', plotDataDayPop, {title: 'All Member Signups By Day', yaxis: {'rangemode': 'tozero'}});
          Plotly.newPlot('memberHourPopularity', plotDataHourPop, {title: 'All Member Signups By Hour', yaxis: {'rangemode': 'tozero'}});

          // state signup times
          //var
          var drawStateSignupTimes = function(){
            var stateSignupTimes = data.data['state_signup_times'];
            var plotStateSignupTimes = [];
            var states = Object.keys(stateSignupTimes);
            states.forEach(function(stateName){
              plotStateSignupTimes.push({
                x: _.map(stateSignupTimes[stateName], function(ts){ return new Date(ts*1000); }),
                y: _.range(1, stateSignupTimes[stateName].length + 1),
                type: 'scatter',
                name: stateName
              })
            });
            Plotly.newPlot('stateSignupTimes', plotStateSignupTimes, {title: 'Members v Time by State'});
          };
          drawStateSignupTimes();

          flux.growthStat = function(d){
            var ts_now = Date.now();
            var ts_ago = new Date(ts_now - (d * 24 * 60 * 60 * 1000));
            var tss_before = _.filter(tss, function(_ts){ return _ts < ts_ago; });
            var tss_after =  _.filter(tss, function(_ts){ return _ts >= ts_ago; });
            console.log('tss_before len : ' + tss_before.length + ' tss_after len ' + tss_after.length);
            console.log(ts_now);
            return Math.round(tss_after.length / tss_before.length * 1000) / 1000;
          };
          flux.growthDays = [30, 7, 2, 1];

          $log.log('Drew Charts');
        }, flux.handleError)
      });
    </script>
  </div>
  <div class="max-width-3 mx-auto">
    {% include components/inline-signup.html %}
    <div class="mt4">
      <i class="material-icons mr1">arrow_back</i><a href="{{site.baseurl}}/" class="inline-block">Back to home page</a>
    </div>
  </div>
</div>
{% include footer.html %}
