---
layout: default
permalink: /donate/
dark-theme: true
title: Donate
nav-title: Donate
group: navigation
nav-order: 1001
---
{% include navbar.html %}
<header  class="bg-near-black texture-bg-img white pb3 pt5 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3 mt4">
  {% include components/main-heading.html
    text="Donate Now"
    font-size="h0 line-height-1"
    font-weight="bold" %}
  </div>
</header>
<section id="contact" class="bg-light-gray mid-gray py4 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3">
    <h2>Donations</h2>

    <strong>Please note:</strong> If you donate more than $13,000 total in one year we are <strong>required by law</strong> to disclose your name and address to the AEC. We will not be able to accept such donations if we don't have those details. Please email us if you'd like to make a large donation.

    <p>
      NB: The first $1500 of the donation are tax deductable.
    </p>

    Flux currently accepts donations via three methods:
    <ul>
      <li>
        Paypal: go to <a href="https://paypal.me/voteflux">https://paypal.me/voteflux</a> to donate quickly and easily. Good for small amounts.
      </li>
      <li>
        Bank Transfer: our bank details are:<br>
        Name: Max Kaye <br>
        BSB: 06 2948 <br>
        Acct: 1382 4716 <br>
        If you can, please email us after making a bank transfer so we can expect it.
      </li>
      <li>
        Bitcoin: our current donation address is 1EDGSgTW5iGHGesyYACSXYUNbwB6BPEDan<br>
        Please keep in mind the above restrictions around disclosure limits still apply. Unless we're holding a fundraiser for something specific we'll hold Bitcoin <em>as BTC</em> until we need to spend it, and will spend AUD before BTC.
      </li>
    </ul>
  </div>
</section>
{% include footer.html %}
