---
layout: default
permalink: /help-us/

help:
 - title: Volunteer
   copy: |
     Sign up as volunteer <a href="https://api.voteflux.org/static/html/member_volunteer.html" target="_blank">here</a> or mark “volunteer” on your membership details page (you were emailed a link to your user details when you joined from the Flux Membership Robot).
     This is how we will email you new updates on how you can help including raw materials and coordination details for election day!
 - title: Share
   copy: |
     The best way to help Flux grow is to tell your friends about us.
     Organic growth is really taking off, and with an upcoming double dissolution it’s more important than ever before to make sure your communities know about Flux.
     So please share our posts like our explainer video on your social media accounts. Or you can create your own posts, just make sure you tag us with #voteflux and #auspol so we can follow along!
 - title: Community Forum
   copy: |
     Our <a href="https://community.voteflux.org/" target="_blank">community forum</a> is where we will be organising our campaign. If you're interested sharing your ideas, coordinating campaigns or if have any super powers come and let us know!

---

{% include navbar.html %}
<div class="bg-near-white dark-gray py4 pt5">
  <div class="max-width-3 mx-auto px2 sm-px3 pt4 pb3 bg-white">
    {% include components/main-heading.html
      text="How can I help?"
      font-size="h0"
      font-weight="bold"
      line="true" %}

{% for help in page.help %}
<div class="mb3">
  <h3 class="bold">{{forloop.index}}. {{help.title}}</h3>
  <p class="mid-gray">
    {{help.copy}}
  </p>
</div>
{% endfor %}



  </div>
  <div class="max-width-3 mx-auto">
    {% include components/inline-signup.html %}
  </div>
</div>
{% include footer.html %}
