---
title: How many political parties can you be a member of?
permalink: "/how-many-political-parties-can-you-be-a-member-of/"
layout: default
dark-theme: true
nav-title: How many political parties can you be a member of?

{% include navbar.html %}


<header  class="bg-near-black texture-bg-img white pb3 pt5 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3 mt4">
    {% include components/main-heading.html
    text="How many political parties can you be a member of?"
    font-size="h0 line-height-1"
    font-weight="bold"
    line="true" %}
  </div>
</header>

<section id="contact" class="bg-light-gray mid-gray py4 sm-pr4">
  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">

    {% include components/main-heading.html
    text="Addressing a common misconception about political party membership"
    font-size="h0 line-height-1"
    font-weight="bold"
    line="true" %}

	<p>The answer is “As many as you like, and it mostly depends on the rules and processes of the parties.”

	<p>When someone signs up as a member of a political party, they are usually asked the following question “Are you a member of another political party?”.

	<p>In many cases, if the answer is “yes”, people are asked to resign from the other political party before their new membership is processed. This often leads people to incorrectly believe that they can only be a member of one party at any given time.

	<p>It is possible to be a member of more than one party at a time, but there are two key conditions which must be satisfied.
	<ul>
	<li>It must not violate the Electoral Act - which governs the registration and operation of political parties; and</li>
	<li>It must not violate the respective constitutions of the political parties involved.</li>
	</ul>
	<p>To explain these two conditions, we will take a step back and define some terms for context.

    <h1>What is a registered political party?</h1>

	<p>A political party is a group of people who organise themselves to work towards shared political objectives. The objectives are set out in the organisation’s constitution, which also contains the principles and rules by which the party will operate. Among these rules will be those which govern the obligations and expectations associated with party membership.

	<p>A registered political party is a political party which has satisfied the criteria, as set out in the Electoral Act, to be registered by a relevant Electoral Commission in order to part-take in various electoral processes i.e. elections.

    <h1>What does it mean to be a “member” of a political party?</h1>

	<p>When a person signs up to be a member of a political party, they are expressing their support for the organisation's objectives, and also volunteering to abide by the organisation's constitution. They are also volunteering their details to be included in “a list of the names of the 500 members of the party to be relied on for the purposes of registration” as this would form part of meeting the objectives of the organisation.

    <h1>What does it mean for a political party to have “members”?</h1>

	<p>Any political party without people as members will struggle to achieve its objectives, but the very act of registering a political party has an explicit requirement regarding membership mentioned above.

	<p>To register a party there are a number of qualifying criteria defined in the Electoral Act, with one of the most significant being the submission of a list of 500 members, who are registered electors in the respective jurisdiction. 

	<p>These lists of members which are submitted to the Electoral Commission must be unique to each registering party. According to the Commonwealth Electoral Act 1918, Section 126, 2A:

	<code>
	Two or more parties cannot rely on the same member for the purpose of qualifying or continuing to qualify as an eligible political party.  The following provisions apply accordingly:
	(a)  a member who is relied on by 2 or more parties may nominate the party entitled to rely on the member, but if a party is not nominated after the Electoral Commission has given the member at least 30 days to do so, the member is not entitled to be relied on by any of those parties;
	(b)  the members on whom a registered party relies may be changed at any time by an amendment of the Register of Political Parties;
	(c)  the registration of a party is not to be cancelled because of this subsection unless the Electoral Commission has taken action to determine whether the party should be deregistered because of paragraph 137(1)(a), (b) or (c).
	</code>

	<p>In this regard, you can be a member of multiple parties, but you can not be on multiple party registration lists of the 500 members required for registration.

    <h1>Why do some parties say you can’t be a member of other parties?</h1>

	<p>Aside from the process for listing 500 members when registering parties, the other major consideration is the various sets of rules as defined by the party constitutions. Most parties simply don’t want “their” members to be members of other parties for a number of reasons:
	<ul>
	<li>To ensure compliance with the Electoral Act with respect to member lists for party registration;</li>
	<li>To ensure compliance with the Electoral Act with respect to membership audits as performed from time -to-time by the Electoral Commissions;</li>
	<li>To limit the loss of membership fees;</li>
	<li>To limit the loss of other financial support; and</li>
	<li>To limit the support and awareness for other options at election time.</li>
	</ul>

    <h1>Some scenarios</h1>

	<p>Scenario A: Person is a member of two parties and not used for membership registration lists - OK as long as it does not violate party constitutions.


	<p>Scenario B/C: Person who is a member of two parties and only used for one of the two membership registration lists - OK as long as it does not violate party constitutions.

	<p>Scenario D: Person is a member of two parties and is used on both membership registration lists - Not OK (violates the Electoral Act).

    <h1>Federal Parties & State Branches</h1>

	<p>The major parties (Liberals, Labor, National, Green) all have a federal party and multiple state “branches” which are separate entities as registered with the AEC.  
	<p>https://www.aec.gov.au/Parties_and_Representatives/party_registration/Registered_parties/

	<p>So technically, one party with lots of members can create multiple branches (or separate parties) as long as the membership lists submitted to the respective Electoral Commission does not duplicate the same person across multiple parties.

    <h1>What does it mean for Flux?</h1>

	<p>Flux does not place any restriction on our members concerning membership of other parties.

	<p>We will always ensure that our registration lists as provided to the Electoral Commissions are populated with the details of people who are only members of one party registration list.

	<p>As a party with 8,000+ members (and growing every week), there is an opportunity for Flux to leverage our membership base to set up additional parties and branches as outlined above, as required by our strategic objectives in the coming years.

    <hr>

  </div>
</section>

{% include footer.html %}
