---
layout: default
home: true
hero-title: Let's re-imagine how democracy gets done.
hero-copy: >
  Flux is a new political party that will act as your gateway into parliament.
  When an issue is before parliament you vote in real time. We call it issue based direct democracy.
hero-call-to-action: Join the movement
meetups:
  - city: Melbourne
    location: Melbourne Bitcoin Technology Centre
    address:  89-91 City Road, South Bank
    date: Tuesday, May 3, 2016
    time: 6:00 PM
    url: http://www.meetup.com/FluxSydney/events/230138091/
  - city: Melbourne
    location: Melbourne Bitcoin Technology Centre
    address:  89-91 City Road, South Bank
    date: Tuesday, May 3, 2016
    time: 6:00 PM
    url: http://www.meetup.com/FluxSydney/events/230138091/
  - city: Melbourne
    location: Melbourne Bitcoin Technology Centre
    address:  89-91 City Road, South Bank
    date: Tuesday, May 3, 2016
    time: 6:00 PM
    url: http://www.meetup.com/FluxSydney/events/230138091/
---

{% include navbar.html %}

<main>
<section class="bg-near-black px3 py4 relative min-height-95vh texture-bg-img">
  <div class="mx-auto max-width-4">
    <div class="sm-flex">

<!-- LOGO -->
      <header class="white sm-col-3 pt2 pr0 sm-pr4">
        <div class="sm-flex flex-column">
          <div class="silver">
            <img src="img/flux-mark.svg" alt="" width="96" height="96" class="">
            <div class="mt2">
              <h2 class="sm-h1 white bold mt2 m0 line-height-3">FLUX <span class="muted gray regular">/ <br>PROGRESS <br>FOR PROCESS</span></h2>
            </div>
            <hr class="muted">
            <h5 class="muted">Registered Members</h5>
            <h3><span id="js-member-count">Loading...</span></h3>
          </div>
        </div>
      </header>

<!-- HERO SECTION -->
      <div class="sm-col-9 pb3">
        <div>
            {% include components/main-heading.html
            text=page.hero-title
            font-size="h0 line-height-2"
            font-weight="bold"
            classes="letter-spacing-1 mb2 sm-mb4 sm-mt4 sm-pt4 near-white" %}
            <p class="h3 sm-h2 h-font light mb4 silver letter-spacing-2 line-height-4">
              {{ page.hero-copy }}
            </p>
            <a href="{{site.baseurl}}/signup" class="h2 regular link-reset inline-block border-bottom accent letter-spacing-1">
              {{ page.hero-call-to-action }}
            </a>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- WHY FLUX SECTION -->
<section class="bg-white py4 px3 min-height-95vh">
  <div class="max-width-4 mx-auto dark-gray">
    <div class="md-flex  mb3">
      <div class="md-col-9">
        <h5 class="h4"><span class="gray">ABOUT FLUX</span> / <span class="bold">WHY</span></h5>
        <hr class="accent-muted muted border-bottom">
        <h1 class="h0 bold mb3 line-height-2">Why Australia needs Flux</h1>
        <p class="h3 sm-h2 light h-font mb4 gray letter-spacing-2 line-height-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <a href="{{site.baseurl}}/about/why-flux" class="h3 sm-h2 border-bottom accent inline-block">Learn more</a>
      </div>
    </div>
  </div>
</section>

<!-- SECOND CALLOUT SECTION -->
<section class="full-bg-img height-40vh py4 px2 sm-px3 min-height-95vh">
  <div class="max-width-4 mx-auto clearfix">
    <div class="bg-near-black light-gray p3 sm-p4 sm-col-right sm-col-9 mt4">
      <div class="mb3">
        {% include components/main-heading.html
        text="We're fed up with the political process too"
        font-size="h0 line-height-2"
        font-weight="bold" %}

        <p class="h3 sm-h2 h-font mb4 light letter-spacing-2 line-height-4 gray">Flux is a movement not about ideology, but about progress for process. Flux Party members come from every age bracket and all walks of life, as well as from the left, centre, and right of politics.</p>
      </div>
      <div class="gray">
        <a href="{{site.baseurl}}/signup" class="h3 sm-h2 link-reset border-bottom inline-block accent">
          Become a member
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT PAGE LINKS -->
{% assign items = site.about | sort: 'order '%}
{% for item in items %}
  {% if item.tag-topic != 'why' %}
    <section class="bg-white dark-gray px3 py4 relative z1">
      <div class="max-width-4 mx-auto">
        <div class="sm-col-9">
          <h5 class="h4"><span class="gray">
            ABOUT FLUX</span> / <span class="bold">{{item.tag-topic | upcase }}</span>
          </h5>
          <h1 class="h0 bold line-height-1">{{item.title}}</h1>
          <a href="{{site.baseurl}}{{item.url}}" class="h3 sm-h2 link-reset border-bottom inline-block accent">
            Learn more
          </a>
        </div>
      </div>
    </section>
    <hr class="accent-muted muted border-bottom m0">
  {% endif %}
{% endfor %}

<!-- IN THE NEWS -->
<section class="py4 px3 bg-near-black light-gray min-height-95vh texture-bg-img">
  <div class="max-width-4 mx-auto">
    <div class="sm-flex items-center">
      <div class="flex-auto">
      {% include components/main-heading.html
        text="In the news"
        font-size="h0 line-height-1 m0"
        font-weight="bold" %}
      </div>
      <div class="clearfix">
        <a href="{{base}}{{site.baseurl}}" class="list-reset border-bottom accent mb2 right inline-block">Media inquiries</a>
      </div>
    </div>
    <div class="sm-flex flex-wrap mxn3 mb3">
      {% for article in site.data.press limit:8 %}

          <div class="sm-col-6 md-col-4 lg-col-3 px3">
            <div class="mb3">
              <hr class="border-bottom accent-muted mb1 muted">
              <div class="flex flex-column justify-between height-3">
                <div>
                  {% if article.publishedIn == 'Press Release' %}
                    <h4 class="h5 mb2 gray">PRESS <span class="white">{{article.publishedIn | upcase }}</span>
                    </h4>
                  {% else %}
                    <h4 class="h5 mb2 gray">ARTICLE <span class="white">{{article.publishedIn | upcase }}</span>
                    </h4>
                  {% endif %}
                  <a href="{{ article.title | datapage_url: 'press' }}" class="link-reset"><h2 class="h3 sm-h2 h-font light line-height-4">{{article.title}}</h2></a>
                </div>
                <time datetime="{{article.date }}" class="italic gray">
                {{article.date | date: '%B %d, %Y' }}
                </time>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="right-align">
      <a href="{{site.baseurl}}/press" class="list-reset border-bottom accent">All articles</a>
    </div>
  </div>
</section>

<!-- UPCOMING MEETUPS -->
<section id="upcoming-meetups" class="py4 px3 bg-dark-gray light-silver min-height-95vh">
  <div class="max-width-4 mx-auto">
    <div class="lg-col-9">
      {% include components/main-heading.html
        text="Upcoming meetups"
        font-size="h0 line-height-1"
        font-weight="bold near-white" %}
      <p class="h3 sm-h2 light h-font letter-spacing-2 line-height-4 mb4">
        Join party co-founders <a href="{{site.baseurl}}/about/who#nathan-spataro">Nathan Spataro</a> &amp; <a href="{{site.baseurl}}/about/who#max-kaye">Max Kaye</a> for a Q&amp;A at the next meetup in your city
      </p>
      <div class="mxn3">
        <div class="sm-flex flex-wrap">
          {% for meetup in page.meetups %}
            <div class="sm-col-6 md-col-4 px3 mb3">
              {% include components/hr-muted.html %}
              <h5 class="gray">Meetup city</h5>
              <h3 class="white sm-h2 mt0 bold">{{ meetup.city }}</h3>
              <dl class="link-reset h3 near-white line-height-3 mb3">
                <dt class="h5 gray mt2">Location</dt>
                <dd>{{ meetup.location }}</dd>
                <dd class="h4 silver">{{ meetup.address }}</dd>
                <dt class="h5 gray mt2">Date</dt>
                <dd>{{ meetup.date }}</dd>
                <dd class="h4 silver">{{ meetup.time }}</dd>
              </dl>
              <div class="nowrap">
                <a href="{{ meetup.url }}" target="_blank" class="border-bottom">RSVP</a><i class="material-icons icon-adjust muted">call_made</i>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT SECTION -->
<section id="contact" class="bg-near-white dark-gray py4 px3">
  <div class="max-width-4 mx-auto">

    {% include components/main-heading.html
      text="Join the conversation"
      font-size="h0 line-height-1"
      font-weight="bold dark-gray mb4" %}

      <div class="sm-flex mxn3">
        <div class="sm-col-4 px3">

          <hr class="accent-muted muted border-bottom m0">
          <div class="mb3">
            <h4 class="sm-h3 muted mb0">Flux HQ</h4>
            <h3 class="sm-h2 bold h-font mt0">flux@xk.io</h3>
          </div>

          <hr class="accent-muted muted border-bottom m0">
          <div class="mb3">
            <h4 class="sm-h3 muted mb0">Max</h4>
            <h3 class="sm-h2 bold h-font mt0">max.kaye@voteflux.org</h3>
          </div>

          <hr class="accent-muted muted border-bottom m0">
          <div class="mb3">
            <h4 class="sm-h3 muted mb0">Nathan</h4>
            <h3 class="sm-h2 bold h-font mt0">nathan.spataro@voteflux.org</h3>
          </div>

        </div>


      </div>
  </div>
</section>

<!-- For media enquiries: media@voteflux.org -->


</main>
{% include footer.html %}
