---
layout: default
---
<main>
<section class="bg-near-black px3 py4 relative">

  <div class="mx-auto max-width-4">

  <div class="sm-flex mxn4">

      <header class="white sm-col-3 px4 pt2">
        <!-- <div class="flex items-start flex-auto">
          <img src="img/flux-mark.svg" alt="" width="80" height="80" class="">
          <div class="mt2 ml2 max-width-3">
            <h2 class="h2 silver bold mt2 m0">FLUX <span class="muted light">/ <br>PROGRESS <br>ON PROCESS</span></h2>
          </div>
        </div> -->


<div class="sm-flex flex-column">
        <div class="">
          <img src="img/flux-mark.svg" alt="" width="96" height="96" class="">
          <div class="mt2 ">
            <h2 class="silver bold mt2 m0 line-height-4">FLUX <span class="muted light">/ <br>PROGRESS <br>ON PROCESS</span></h2>
          </div>
        <hr class="gray muted">
        </div>

<!-- <a href="{{site.baseurl}}{{ base }}/signup" class="h2 regular link-reset inline-block py1 border-bottom accent mt4">
              Join the movement
              <!-- <i class="material-icons h2 align-middle">chevron_right</i> -->
            <!-- </a> -->
</div>
      </header>

      <div class="sm-col-9 pb3 px4">
        <div class="">
          <div class="">
            <h1 class="h0 h-font bold near-white mb4 mt4 pt4 line-height-3">Let's re-imagine how democracy gets done.</h1>
            <div class="sm-h1 h-font regular mb4 gray ">
              <p class="letter-spacing-1 line-height-3">
                Flux is your gateway into parliment, issue based direct democracy. Flux is your gateway into parliment, issue based direct democracy
              </p>
              <!-- <p class="letter-spacing-1">
                With the technology now available, we can do better.
              </p> -->
            </div>
            <a href="{{site.baseurl}}{{ base }}/signup" class="h2 regular link-reset inline-block py1 border-bottom accent">
              Join the movement
              <!-- <i class="material-icons h2 align-middle">chevron_right</i> -->
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<!-- <div class="bg-dark-gray py3 px3">
  <div class="max-width-4 mx-auto">

    <div class="sm-flex mxn3">

      <div class="sm-col-3 px3 mt2 silver">
        <h4 class="bold light-silver">1502 members now registered</h4>
        <h5 class='line-height-4'>Flux is now a federally registered <br>  political party! AEC details</h5>
      </div>

      <div class="sm-col-8 px3 mb4 sm-mb0 mt1">
        <a href="{{site.baseurl}}{{ base }}/signup" class="h2 regular link-reset inline-block py1 border-bottom accent">
          Join the movement

        </a>
        <h5 class='line-height-4'>Flux is now a federally registered <br>  political party! AEC details</h5>
      </div>


    </div>

  </div>
</div> -->



<section class="bg-white py4 px3">

  <div class="max-width-4 mx-auto mid-gray">
    <h5 class="h4"><span class="gray">ABOUT FLUX</span> / <span class="bold">HOW</span></h5>

    <hr class="mb4 accent-muted muted border-bottom">
    <div class="md-flex  mb3">

      <!-- <div class=""> -->
          <!-- <h1 class="h00 h-font bold mt4">1.</h1> -->
          <!-- <h5 class="bold"><span class="gray">ABOUT</span> / HOW</h5> -->
      <!-- </div> -->

      <div class="">

        <h1 class="h0 h-font bold mb3">Why Australia needs Flux</h1>
        <p class="h2 sm-h1 h-font regular gray mb4 line-height-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

        <a href="" class="h3 sm-h2 border-bottom accent inline-block">Learn more</a>
      </div>

    </div>
   <!--  <div class="clearfix">
      <a href="" class="h3 sm-h1 border-bottom accent">Learn more</a>
    </div> -->
  </div>
</section>
<section class="full-bg-img height-40vh py4 px2 sm-px3">
  <div class="max-width-4 mx-auto clearfix">

    <div class="bg-white dark-gray p3 sm-p4 sm-col-right sm-col-8 mt4">
      <div class="mb3">
        {% include components/main-heading.html
          text="We're fed up with the political process too"
          font-size="h1 line-height-3"
          font-weight="bold" %}

        <p class="h3 h-font sm-h2 mb4">Flux is a movement not about ideology, but about progress for process. Flux Party members come from every age bracket and all walks of life, as well as from the left, centre, and right of politics.</p>
      </div>
      <div class="gray">
        <a href="{{site.baseurl}}{{ base }}/signup" class="h3 sm-h2 link-reset border-bottom inline-block accent chevron">
          Become a member
        </a>
      </div>
    </div>
  </div>
</section>
<section class="bg-near-white mid-gray px3 py4">
  <div class="max-width-4 mx-auto">

    <div class=" ">
      <div class="mb4">
      <h5 class="h4"><span class="gray">ABOUT FLUX</span> / <span class="bold">HOW</span></h5>

      <hr class="mb4 accent-muted muted border-bottom">
        <h1 class="h0 h-font bold mb3">The Flux voting system</h1>
        <p class="sm-h1 h-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="mb4">
        <h1 class="h0 h-font bold mb3">The Flux voting system</h1>
        <p class="sm-h1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="h0 mb4">
        <h1 class="h-font bold mb3">The Flux voting system</h1>
        <p class="sm-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- <div class="bg-accent-muted dark-gray px2 sm-px3 py4">
  <div class="max-width-4 mx-auto">

    <div class="border-bottom border-thick bg-white height-4 px3 py3 mb3">
      <h5 class="bold"><span class="gray">ABOUT</span> / HOW</h5>
      <div class="mb2">
        <a href="#!" class="link-reset h-font bold h1 block py2 min-height-1 line-height-2">
          Why Australia needs Flux
        </a>
        <p>Our current political system is broken... blah blah blah. Flux is here to save the world.... our purpose is..
        Our current political system is broken... blah blah blah. Flux is here to save the world.... our purpose is..</p>
      </div>
      <div class="muted border-bottom border-muted ">
        <!-- <h5 class="h5 inline-block m0">2 minute read</h5> -->
        <!-- <span class="right h4"> > </span> -->
<!--       </div>
    </div>

    <div class="sm-flex mxn2">
      <div class="px2 sm-col-4">
       {% include components/card.html
          text="The Flux voting system"
          sub-text="Plus its key benefits"
          tag-section="about flux"
          tag-topic="how"
          link="about/how/" %}
      </div>
      <div class="px2 sm-col-4">
        {% include components/card.html
           text="Who is behind Flux"
           sub-text="The people who make Flux"
           tag-section="about flux"
           tag-topic="who"
           link="about/who" %}
      </div>
      <div class="px2 sm-col-4">
       {% include components/card.html
          text="Frequently asked questions"
          sub-text="And responses to common concerns"
          tag-section="about flux"
          tag-topic="answers"
          link="about/faq" %}
      </div>
    </div>
  </div -->>
<!-- </div>  -->




<!-- <section class="full-bg-img height-40vh py4 px2 sm-px3">
  <div class="max-width-4 mx-auto">
    <div class="bg-white dark-gray p3 sm-p4 sm-col-8">
      <div class="mb3">
        {% include components/main-heading.html
          text="We're fed up with the political process too"
          font-size="h1"
          font-weight="regular" %}

        <p>Flux is a movement not about ideology, but about progress for process. Flux Party members come from every age bracket and all walks of life, as well as from the left, centre, and right of politics.</p>
      </div>
      <div class="gray">
        <a href="{{site.baseurl}}{{ base }}/signup" class="h3 link-reset border-bottom border-thick bold inline-block pb1 border-accent dark-gray chevron">
          Become a member
        </a>
      </div>
    </div>
  </div>
</section> -->
<!--   <section class="bg-near-black light-silver px3 py4 relative z1">
  <div class="max-width-3 mx-auto">
    <div class="mb4">
      <h2 class="h1 light light-gray">
      So what exactly is FLUX?
      <span class="h1 accent m0 block">&mdash;</span>
      </h2>
      <p class="h3 silver">Flux will act as a gateway for Australians to participate directly in parliament, making the need for trust in elected officials a thing of the past.</p>
      <p class="h3 silver">Flux will take the form of an app you can access right from your computer or smartphone. As a member, you’ll be given a vote on every bill put before Federal Parliament, and can use that vote immediately on the issue at hand.</p>
    </div>
    <a href="#!" class="h3 link-reset white border-bottom inline-block pb1">
      Get more detail <span class="h4">&nbsp></span>
    </a>
  </div>
</section> -->
<section class="bg-accent dark-gray py4 px3">
  <div class="max-width-4 mx-auto ">

    <div class="mb3">
      <h1 class="h-font bold mb1">Upcoming meetups </h1>
      <div>
        <span class="border-bottom px2 inline-block border-thick muted"></span>
      </div>
    </div>

    <div class="sm-flex">
      <div class="sm-col-8">
        <p>Join party co-founders Nathan Spataro & Max Kaye for a Q&A at the next meetup in your city</p>
      </div>

      <div class="sm-col-4 sm-col-6 clearfix">
        <ul class="list-reset sm-col-right h2">
          <li class="mb2 col-3 border-bottom border-thick border-white col-12">Sydney</li>
          <li class="mb2 col-3 border-bottom border-thick border-white col-12">Melbourne</li>
          <li class="mb2 col-3 border-bottom border-thick border-white col-12">Brisbane</li>
          <li class="mb2 col-3 border-bottom border-thick border-white col-12">Canberra</li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="bg-dark-gray light-gray px3 py4 shadow relative ">
  <div class="max-width-4 mx-auto">
    {% include components/main-heading.html
        text="In the news"
        font-size="h1"
        font-weight="regular"
        line="true" %}

    <div class="sm-flex mxn3">

      <div class="px3 pb3 mb4 sm-col-4">
        <div class="border-bottom border-white border-thick ">
          <a href="#!" class="link-reset h3 h-font block py2 min-height-1">
            The problem Flux wants to solve.
          </a>
          <div class="muted border-bottom border-muted pb2">
            <h5 class="h5 inline-block m0">1 minute read</h5>
            <span class="right h4"> > </span>
          </div>
        </div>
      </div>

      <div class="px3 pb3 mb4 sm-col-4">
        <div class="border-top ">
          <a href="#!" class="link-reset h3 block py2 min-height-1">
            Quick overview of how Flux will work
          </a>
          <div class="muted border-bottom border-muted pb2">
            <h5 class="h5 inline-block m0">2 minute read</h5>
            <span class="right h4"> > </span>
          </div>
        </div>
      </div>
      <div class="px3 pb3 mb4 sm-col-4">
        <div class="border-top ">
          <a href="#!" class="link-reset h3 block py2 min-height-1">
            Frequently asked questions
          </a>
          <div class="muted border-bottom border-muted pb2">
            <h5 class="h5 inline-block m0">3 minute read</h5>
            <span class="right h4"> > </span>
          </div>
        </div>
      </div>
    </div>
    view more articles > Media enquiries: media@voteflux.org
  </section>
  <!--   <section class="bg-light-gray dark-gray py4 px3">
    <div class="max-width-3 mx-auto ">
      <h2 class="light mb4 h1 center">Get to know us
      <span class="h1 accent m0 block">&mdash;</span>
      </h2>
      <div class="sm-flex mxn3 mb4">
        <div class="sm-col-4 px3">
          <div class="overflow-hidden circle square-1 mb3">
            <img src="img/max.jpg" alt="">
          </div>
        </div>
        <div class="sm-col-8 px3">
          <h3 class="mt0 bold">Max Kaye</h3>
          <p>
            Max is passionate about improving the world. He is a software developer and blockchain consultant. His educational background is in science, mathematics, and information systems, and has a lifelong interest in economics, political philosophy, disruptive startups, and theory of knowledge
          </p>
          <p>
            Max sees immense scope for technology to empower ordinary people to properly participate in their democracy. He knows there's a better way of doing things. He prefers to use the oxford comma.
          </p>
        </div>
      </div>
      <div class="sm-flex mxn3">
        <div class="sm-col-4 px3">
          <div class="overflow-hidden circle square-1 mb3">
            <img src="img/nathan.jpg" alt="">
          </div>
        </div>
        <div class="sm-col-8 px3">
          <h3 class="mt0 bold">Nathan Spataro</h3>
          <p>
            Nathan is an ardent and outspoken proponent of free speech, civil liberties, and human rights. His educational background is in government, international relations, and philosophy. He has campaigned in previous elections for minor parties.
          </p>
          <p>
            Nathan's work background is in sales and IT, but has more recently become passionate about the blockchain technology and its impact on the future of politics. Nathan believes in a free and open society that places a high value on healthy criticism and debate. He is excited that ordinary Australians could one day play a much greater part in their country’s political future.
          </p>
        </div>
      </div>
    </div>
  </section> -->
  <!--   <section class="bg-near-white gray py4 px3">
    <div class="max-width-3 mx-auto">
      <h2 class="light mb4 h1">How can I help?
      <span class="h1 accent m0 block">&mdash;</span>
      </h2>
    </div>
  </section> -->
  <section class="bg-near-white gray py4 px3">
    <div class="max-width-3 mx-auto">
      <h2 class="light mb4 h1">Get in touch
      <span class="h1 accent m0 block">&mdash;</span>
      </h2> Currently the best way to get in contact is via email: Max: max.kaye@voteflux.org, or flux@xk.io Nathan: nathan.spataro@voteflux.org For media enquiries: media@voteflux.org
    </div>
  </section>

  <!-- <section class="bg-dark-gray light-silver px3 py4">
    <div class="max-width-3 mx-auto">
      <div class="clearfix mxn2">
        <div class="px2">
          <h2 class="light m0 near-white">
          Progress for process!
          </h2>
          <span class="h1 accent">&mdash;</span>
          <p>Flux is a movement not about ideology, but about progress for process. Flux Party members come from every age bracket and all walks of life, as well as from the left, centre, and right of politics.</p>
          <p>We’re for uniting all of Australia for a simple cause; better democracy for a brighter future.</p>
          <p>If you're like us and want to see this country work toward a truly brighter future, join us.</p>
        </div>
      </div>
    </div>
  </section> -->
  </main>
