---
layout: default
permalink: /letter-to-parties/
dark-theme: true
title: Letter to Parties
nav-title: Letter to Parties
---

{% include navbar.html %}


<header  class="bg-near-black texture-bg-img white pb3 pt5 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3 mt4">
    {% include components/main-heading.html
    text="Letter to Parties and Independents"
    font-size="h0 line-height-1"
    font-weight="bold"
    line="true" %}
  </div>
</header>

<section id="contact" class="bg-light-gray mid-gray py4 sm-pr4">
  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">

    {% include components/main-heading.html
    text="Flux and How To Votes"
    font-size="h0 line-height-1"
    font-weight="bold"
    line="true" %}

    <p>As many of you know, at Flux, we do things differently.</p>

    <p>By design our party is policy neutral, and while this doesn't provide us with the freedom to cut preference deals like other parties, it does provide an opportunity for your party, your membership, and the people who come out to vote for you this election.</p>

    <p>We are the only party with an objective to help other parties which do not win a seat &mdash; from day zero, our <a href="https://github.com/voteflux/flux/blob/master/CONSTITUTION.md">constitution</a> has contained the objective: "To provide the framework and means for minor parties to participate productively without winning a seat". This is our way of making good on this objective.</p>

    <p><strong>Our proposal to you is simple:</strong> if your party, or you as an independent, is preferenced #1 on a senate ballot, and that ballot directly helps a Flux senator get elected through any path, your party, or you as an independent, will be allocated one vote within the Flux system for the term of that Senator. This offer is open to all parties, and all candidates.</p>

    <p>We see this as a way to honour that voter's wish, and kick-start momentum on this exciting new platform.</p>

    <p>To quote Aaron Sorkin, decisions are made by those who show up. We want to help you express your opinions on a federal level, regardless of whether you get a seat.</p>

    <p><strong>NB:</strong> If your party wins more than 1 quota then preferences are scaled down accordingly (The technical AEC term refers to their 'transfer value'). In this case the number of votes allocated within the Flux system is equal to the total of all transfer values, which is 1 per ballot if your party doesn't win any seats.</p>

    <h1>Handling HTVs</h1>

    <p>Our 400 registered volunteers will be handing out How to Vote cards at the most popular polling stations around the country, with a focus on Tasmania.</p>

    <p>As we our completely policy neutral, we will not be directing voters preferences on our How to Vote cards, however, we will be listing ‘Friends of Democracy’ and we'll ask our supporters to make an individual decision on how to preference each of these friends.</p>

    <p>Any party can request to appear on this list, and there is only one criterion, a publicly linkable statement on your website, social media accounts or other digital channels, which states 'If a Flux senator is elected, and <insert party name here> is allocated votes on the Flux system, we will use them to pursue our political goals.'</p>

    <p>There is no prescribed format for this, it just needs to be publicly linkable on an official communications channel. (You'll also have to let us know where to find it.)</p>

    <p>And that's it. Any parties or independents that provide us such a link will appear on our HTVs as 'Friends of Democracy'.</p>

    <h1>Close</h1>

    <p>Flux is a movement of democratic expression. It's about letting voices be heard, and empowering those of us who have the conviction to change the world for the better. It's not about exclusion, or conflict; it's about cooperation.</p>

    <p>Despite the recent Senate changes, I still believe that we can transition past a democracy based on conflict, and into a democracy where our differences are a strength, not a weakness.</p>

    <p>Flux asks you consider putting us on your HTVs. 3,000,000 voters reject the major parties each year; their voices and votes are threatened now more than ever. Let's not throw away all those quotas worth of votes, let's not abide countless volunteer hours being destroyed by our voting system. If Flux is on your HTVs before major parties, it gives us the best chance possible to build an inclusive, participatory democracy, where every Australian can be represented, fairly, and honestly.</p>

    <p>All we ask is for your consideration.</p>

    <p>Sincerely,<br>
    Max Kaye,<br>
    Deputy Leader and co-founder, Flux<br>
    040 271 3219</p>
  </div>
</section>

{% include footer.html %}
