---
layout: default
dark-theme: true
permalink: press/
title: Press
nav-title: Press
group: navigation
nav-order: 40
---

{% include navbar.html %}
<div class="pt4 bg-near-black"></div>
<div class="bg-near-black light-gray py4 px2 sm-px3">
<div class="mx-auto max-width-2">
  <div class="mb3">
    <div class="mb4">
      {% include components/main-heading.html
        font-size="h0"
        text="In the news" %}
    </div>

    {% for article in site.data.articles %}
        <div class="mb3">
          <hr class="border-bottom accent-muted mb1 muted">
          <div class="flex flex-column justify-between height-2 mb4">
            <div>
              <h4 class="h5 mb2 gray">{{article.type | upcase}} / <span class="white">{{article.publishedIn | upcase }}</span>
              </h4>
              <a href="{{ article.url }}" target="_blank" class="link-reset block hover-show-child">
                <h2 class="h3 sm-h2 h-font light line-height-4 accent-on-hover transition-fast inline">
                  {{article.title}}
                </h2><i class="material-icons icon-adjust muted">call_made</i>
              </a>
            </div>
            <time datetime="{{article.date }}" class="italic gray">
            {{article.date | date: '%B %d, %Y' }}
            </time>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
</div>
{% for item in site.about %}
  {% if item.url != page.url %}
   <hr class="black muted border-bottom m0">
    <section class="bg-dark-gray near-white px3 py4 relative z1">
      <div class="max-width-4 mx-auto">
        <div class="sm-col-9">
          <h5 class="h4"><span class="gray">
            ABOUT FLUX</span> / <span class="bold">{{item.tag-topic | upcase }}</span>
          </h5>
          <h1 class="h0 bold">{{item.title}}</h1>
          <a href="{{site.baseurl}}{{item.url}}" class="h3 sm-h2 link-reset border-bottom inline-block accent">
            Learn more
          </a>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}
{% include footer.html %}
