---
layout: default
dark-theme: true
permalink: /signup/step2/
---

{% include base.html %}
{% include navbar.html no-button="true" %}
<main class="bg-near-black near-white py4">
  <div class="mx-auto max-width-3 px2 sm-px3">
    <div class="pt5">
    {% include
        components/main-heading.html
        text="Thank you! You're awesome."
        font-size="h0"
        font-weight="bold"
        line="true" %}

    <h2 class="sm-h1 h-font line-height-4">You are now a valuable member of the Flux Community</h2>


      <div class="center pt2">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fvoteflux.org&width=132&layout=button_count&action=like&show_faces=true&share=true&height=46&appId=226933950707805" width="152" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <a class="twitter-follow-button px4"
           href="https://twitter.com/voteflux">
          Follow @voteflux</a>
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));</script>
      </div>

    <section id="contact" class="py4">
      <div class="bg-near-white shadow dark-gray p2 sm-p4 rounded">
        {% include components/main-heading.html
          text="Join the conversation"
          font-size="h1 line-height-1"
          font-weight="bold mb3" %}

          <div class="sm-flex mxn2">
            <div class="sm-col-6 px2 mb3">
              {% include components/hr-muted.html %}
              <h2 class="bold mb3">Social Media</h2>
              {% for social in site.social-media %}
                <hr class="white muted border-bottom m0">
                <div class="my2 flex">
                  <img src="{{base}}/img/social-icons/{{social.name}}-with-circle.svg" alt="{{social.name}}" width="36" class="mr2" />
                  <h3 class="bold h-font inline-block hover-show-child"><a href="{{ social.url }}" class="accent accent-on-hover transition-fast">{{ social.name | capitalize }}</a><i class="material-icons icon-adjust muted">call_made</i></h3>
                </div>
              {% endfor %}
            </div>

            <div class="sm-col-6 px2 mb3">
              {% include components/hr-muted.html %}
              <h2 class="bold mb3">Community Forum</h2>

                <div class="my2">
                  <h3 class="bold h-font mb3 light line-height-3"> If you'd like to chat about technical or campaign details you can find us on our Community Forum</h3>
                  <div class="hover-show-child">
                    <a href="https://community.voteflux.org/" class="border-bottom">Join the discussion!</a><i class="material-icons icon-adjust muted">call_made</i>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </section>

</div>
  </div>
</main>
{% include footer.html %}

<!-- - add here

thank you message - "you are a valuable member of flux"
share the movement - fb/twitter/reddit/linkedin
comments section
how did you hear about us -->
