---
layout: default
dark-theme: true
title: Slack
permalink: /slack/
tag-section: flux
tag-topic: slack
---

{% include navbar.html %}
<div class="bg-near-white dark-gray py4 ">
  <div class="bg-near-black height-40vh absolute z1 left-0 top-0 col-12 texture-bg-img">
  </div>
  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">
    <h1>Slack</h1>
    <hr>
    <p>
      We use Slack to communicate; it's a feature rich chat app for teams with a web client as well as apps for most devices.
    </p>

    <p>
        Our Slack team for members and volunteers is at fluxvolunteers.slack.com, but you'll need to have an account first.
        You can send yourself a signup link by heading to <a href="https://slack.voteflux.org/">https://slack.voteflux.org/</a> and using your email address.
    </p>
  </div>
  <div class="max-width-3 mx-auto">
    {% include components/inline-signup.html %}
    <div class="mt4">
      <i class="material-icons mr1">arrow_back</i><a href="{{site.baseurl}}/" class="inline-block">Back to home page</a>
    </div>
  </div>
</div>
{% include footer.html %}
