---
title: Thanks
permalink: "/volunteer-thankyou/"
layout: default
dark-theme: true
---

{% include navbar.html %}
<header class="bg-near-black texture-bg-img white pb3 pt5 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3 mt4">
    {% include components/main-heading.html
    text="Thanks"
    font-size="h0 line-height-1"
    font-weight="bold" %}
  </div>
</header>
<section id="contact" class="bg-light-gray mid-gray py4 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3">

    <h1>Your interest has been recorded.</h1><br/>

    <h2>We'll get back to you tomorrow with further instructions about this event.</h2><br/>

    <h2>Thanks for helping to make Flux a reality!</h2><br/>

    <img src="/img/volunteer.png"/>

  </div>
</section>
{% include footer.html %}
