---
layout: default
dark-theme: true
hero-title: X0.1 + FLUX PRESENT<br>SECURE.VOTE STRESS TEST
---

{% include base.html %}
<main>
<section class="bg-near-black py3 sm-pr4 relative texture-bg-img">
  <div class="mx-auto max-width-4 px2 md-px3 white">
    <header class="px2 pt1">
      {% include components/main-heading.html
      text=page.hero-title
      font-size="h0"
      classes="mb2 sm-mb4" %}
    </header>
    <div class="md-flex justify-between h1 regular line-height-4">
      <div class="md-col-8">
        <p>&#35;Votes:</p>
        <p>&#35;Pallets:</p>
        <p>Time Running:</p>
      </div>
      <div class="md-col-8">
        <p>Votes Cast/min:</p>
        <p>Votes Validated/min:</p>
        <div class="md-flex py2">
          <div class="md-col-5 md-mr2">
            <img src="/img/graph-sample.jpg"/>
          </div>
          <div class="md-col-5">
            <img src="/img/graph-sample.jpg"/>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="h2 right-align mt4 pt2">
        Contact: exec@exo1.tech + See <a href="https://voteflux.org">voteflux.org</a>
      </p>
    </footer>
  </div>
</section>
</main>

