---
layout: default
permalink: /wa-is-great/
dark-theme: true
title: WA is Great
---
{% include navbar.html %}
<header  class="bg-near-black texture-bg-img white pb3 pt5 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3 mt4">
  {% include components/main-heading.html
    text="Help change Australian politics forever"
    font-size="h0 line-height-1"
    font-weight="bold" %}
  </div>
</header>
<section id="contact" class="bg-light-gray mid-gray py4 sm-pr4">
  <div class="max-width-4 mx-auto px2 md-px3">

    <h1>The biggest revolution in democracy since democracy.</h1>

    <p>Imagine voting for policy, not politicians, and doing it directly from the palm of your hand...</p>
    <p>The Flux Movement is coming to WA and we need your help to make it possible. Simply by becoming a member of the party, you'll be contributing to the establishment of a Western Australian branch, which will contest the state election in March 2017</p>

    <a href="{{site.baseurl}}/signup" class="h1 letter-spacing-1 accent border-bottom inline-block">
      Join <span id="js-wamember-count"></span> members in WA and Flux The System
    </a>

    <h1>Or</h1>

    <a href="{{site.baseurl}}/about" class="h1 letter-spacing-1 accent border-bottom inline-block"> Learn More


  </div>
</section>
{% include footer.html %}
