---
title: WA is Great
permalink: "/wa-is-great/"
layout: default
dark-theme: true
---

{% include navbar.html %}
<div class="bg-near-white dark-gray py4 ">
  <div class="bg-near-black height-40vh absolute z1 left-0 top-0 col-12 texture-bg-img">
  </div>
  <div class="mx-auto max-width-3 px2 sm-px4 pt4 pb3 bg-white relative mt5 z2">
    <div class="max-width-4 mx-auto px2 md-px3">
    {% include components/main-heading.html
      text="Help change Australian politics forever"
      font-size="h0 line-height-1"
      font-weight="bold" %}
    </div>
    <section class="">
      <h1>The biggest revolution in democracy since democracy.</h1>

      <p>Imagine voting for policy, not politicians, and doing it directly from the palm of your hand...</p>
      <p>The Flux Movement is coming to WA and we need your help to make it possible. Simply by becoming a member of the party, you'll be contributing to the establishment of a Western Australian branch. Registering a WA branch will allow us to contest the state election in March 2017, and 'Flux the system'.</p>

      <a href="{{site.baseurl}}/signup/?utm_source=mainsite&utm_medium=web&utm_campaign={{ page.utm_campaign | default: 'none' }}&utm_content=wa-landing-1~{{ page.url | slugify }}" class="h1 underline letter-spacing-1 accent inline-block">
        Join <span id="js-wamember-count">450</span> members already in WA
      </a>

      <h1>Or</h1>

      <a href="{{site.baseurl}}/" class="h1 letter-spacing-1 accent border-bottom inline-block"> Learn More </a>
    </section>
    <div class="max-width-3 mx-auto">
      {% include components/inline-signup.html %}
      <div class="mt4">
        <i class="material-icons mr1">arrow_back</i><a href="{{site.baseurl}}/" class="inline-block">Back to home page</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
