---
title: Flux WA Team
permalink: "/wa/team/"
layout: default
dark-theme: true
---

{% include navbar.html %}
<section class="py4 pt5 bg-near-black texture-bg-img near-white">
  <div class="mx-auto max-width-4 px2 sm-px3">
    <div class=" mt4">

      {% include components/main-heading.html
        text="Meet the Flux WA Team"
        font-size="h0 line-height-2"
        font-weight="bold"
        line="true" %}

      <!-- TODO: Update Text -->
      <div class="h-font light lg-col-10 light-silver sm-pr4">
        <h3 class="h3 sm-h2 letter-spacing-2 line-height-3 mb2"></h3>
        <p class="h4 light sm-h3 letter-spacing-3 silver"></p>
        <p class="h4 light sm-h3 letter-spacing-3 silver"></p>
      </div>
    </div>
  </div>
</section>

<div class="bg-light-gray py4">
  <div class="mx-auto max-width-4 px2 sm-px3">
    <div class="sm-pr4 dark-gray">
      {% include components/main-heading.html
        text="Flux WA Team"
        font-size="h1 line-height-2"
        font-weight="bold" %}
      {% include components/hr-muted.html classes="mb3"%}
      <div class="sm-flex flex-wrap mxn2">
        {% for candidate in site.wa-team %}
          {% include candidates/team-card.html
             position=candidate.position
             email=candidate.email
             image=candidate.image
             title=candidate.title   %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
