<div class="px2 mb3 sm-col-6 md-col-4">
  <div class="height-3 overflow-hidden bg-gray mb2"
       style="background: url(./../img/candidates/donald-trump.jpg) no-repeat center center; background-size: cover" >
  </div>
  <h5 class="h4"><span class="gray">{{include.state}}</span> / <span class="bold">{{include.house}}</span></h5>
  <h2 class="sm-h1 bold">{{include.title}}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <a href="{{site.baseurl}}/{{include.url}}" class="accent border-bottom">Full bio</a>
</div>
