<div id="js-modal" class="display-none fixed left-0 right-0 top-0 bottom-0 bg-darken-4 z6 height-40vh">
 <div class="absolute center-xy col-11 sm-col-9 md-col-8 bg-white dark-gray shadow rounded p3 py4 md-p4">
  <span id="js-modal-close" class="absolute right-0 top-0 p2 pointer"><i class="material-icons">close</i></span>

  <div id="js-modal-content" class="hide">
    <div class="mb4">
      <div class="mb2">
          <div class="inline-block mr2"><img src="{{site.baseurl}}/img/megaphone-black.svg"/></div>
      </div>
      <h2 id="js-modal-heading" class="sm-h1 bold line-height-3 mb3"></h2>
      <p id="js-modal-body" class="sm-h3 gray"></p>
    </div>
    <a id="js-modal-link" href="!#" class="h3 sm-h2 letter-spacing-1 accent border-bottom">
     Read the announcement
    </a>
  </div>

  <div id="js-modal-loading" class="">
      Loading...
  </div>
 </div>
</div>
