<script src="{{site.baseurl}}/js/jquery-1.12.0.min.js"></script>
<script src="{{site.baseurl}}/js/lodash.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.baseurl}}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="{{site.baseurl}}/js/plugins.js"></script>
<script>document.write('<script src="{{site.baseurl}}/js/main.js?ver=' + Math.floor(Math.random() * 10000) + '"\><\/script>');</script>


{% if page.carousel %}<script type="text/javascript" src="{{site.baseurl}}/js/slick.min.js"></script>{% endif %}
{% if page.video %} <script type="text/javascript" src="{{site.baseurl}}/js/lity.min.js"></script>  {% endif %}
{% if site.countdown %}
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/moment.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/moment-timezone-with-data-2010-2020.min.js"></script>
{% endif %}

<!-- Google Analytics start -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62282050-2', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>
<!-- Google Analytics end -->

<!-- Lucky Orange -->
<script type='text/javascript'>
  window.__lo_site_id = 69601;

  (function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
  })();
</script>
<!-- Lucky Orange end -->
