<nav>
<!-- Nav bar -->
  <div class="absolute col-12 top-0 left-0 z4 px2 sm-px3 py2">
    <div class="flex">
      <div class="col-6">
        <a id="flux-logo-home" class="link-reset block pt2 no-focus" href="{{site.baseurl}}/">
          <span class="flux-logo-width block">
            {% include svg/flux-text-logo.html
              color="#222" %}
          </span>
        </a>
    </div>
    <hr>
    <div class="col-6 right-align flex justify-end items-center">
      <div class="inline-block mr3 xs-hide">
        <a id="js-navbar-join-btn" href="{{site.baseurl}}/signup" class="btn btn-primary p1 h5 transition">Join Flux</a>
      </div>
      <div class="inline-block mt1">
        <button id="js-menu-button" class="hamburger hamburger--squeeze white no-focus" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner bg-accent"></span>
        </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Menu  -->
  <div id="js-menu" class="transition opacity-0 hide relative z3">
    <div class="py4 px2 bg-black-muted light-gray min-height-100vh fixed col-12 top-0 right-0 left-0 bottom-0">
      <div class="height-100vh overflow-scroll absolute left-0 top-0 col-12 mt4">
        <div class="px2">
          <div class="mx-auto max-width-2">
            <dl class="list-reset h3 sm-h2">
              <hr class="dark-gray border-bottom my1">
              <dt class="h5 muted mb1 caps light">About Flux</dt>
              {% assign items = site.about | sort: 'menu-order' %}
              {% for item in items %}
                <dd class="mb2">
                  <a href="{{ site.baseurl }}{{ item.url }}#top" class="link-reset h-font accent-on-hover transition-fast">{{ item.title }}</a>
                </dd>
              {% endfor %}
              <hr class="dark-gray border-bottom my1">
              <dd class="mb2"><a href="{{site.baseurl}}/press" class="link-reset h-font accent-on-hover transition-fast">In the news</a></dd>
              <dd class="mb2"><a href="{{site.baseurl}}/#upcoming-meetups" class="link-reset h-font accent-on-hover transition-fast">Upcoming Meetups</a></dd>
              <dd class="mb2"><a href="{{site.baseurl}}/#contact" class="link-reset h-font accent-on-hover transition-fast">Contact</a></dd>
              <hr class="dark-gray border-bottom my1">
              <dd class="mb2 mt3 h4"><a href="{{site.baseurl}}/signup" class="btn btn-primary">Join Flux</a></dd>
            </dl>
            {% include social-buttons.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
