<nav>
<!-- Nav bar -->
  <div id="js-navbar" class="absolute col-12 top-0 left-0 z4 px2 sm-px3 py2">
    <div class="flex">
      <div id="js-flux-logo-text" class="col-6">
        {% if page.dark-theme %}
          <a id="js-flux-logo-home-dark" class="link-reset block pt2 no-focus opacity-0" href="{{site.baseurl}}/">
            <span class="flux-logo-width block">
              {% include svg/flux-text-logo.html
                color="#222" %}
            </span>
          </a>
        {% else %}
          <a id="js-flux-logo-home-light" class="link-reset block pt2 no-focus" href="{{site.baseurl}}/">
            <span class="flux-logo-width block">
              {% include svg/flux-text-logo.html
                color="#222" %}
            </span>
          </a>
        {% endif %}
    </div>
    <hr>
    <div class="col-6 right-align flex justify-end items-center fixed right-0 top-0 mr2 sm-mr3 mt2">
      <div class="inline-block mr3 xs-hide">
        {% if include.no-button %}
        {% else %}
        <a id="js-navbar-join-btn" href="{{site.baseurl}}/signup" class="btn btn-primary p1 h5 transition">Join Flux</a>
         {% endif %}
      </div>
      <div class="inline-block mt1">
        <button id="js-menu-button" class="hamburger hamburger--squeeze white no-focus" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner bg-accent"></span>
        </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Menu  -->
  <div id="js-menu" class="transition opacity-0 hide relative z3">
    <div class="py4 px2 bg-black-muted min-height-100vh fixed col-12 top-0 right-0 left-0 bottom-0 z1">
    </div>
      <div class="height-100vh fixed overflow-scroll light-gray left-0 top-0 col-12 mt4 z2">
        <div class="px2">
          <div class="mx-auto max-width-2 pb5">
            <dl class="list-reset h3 sm-h2">

              <hr class="dark-gray border-bottom my1">
              <dt class="h5 muted mb1 caps light">Quick links</dt>
              <dd class="mb2"><a href="{{site.baseurl}}/" class="link-reset h-font accent-on-hover transition-fast">Home</a></dd>
              <dd class="mb2"><a href="{{site.baseurl}}/press" class="link-reset h-font accent-on-hover transition-fast">In the news</a></dd>
              <dd class="mb2"><a href="{{site.baseurl}}/#upcoming-meetups" class="link-reset h-font accent-on-hover transition-fast">Upcoming Meetups</a></dd>
              <dd class="mb2"><a href="{{site.baseurl}}/#contact" class="link-reset h-font accent-on-hover transition-fast">Contact</a></dd>
              <hr class="dark-gray border-bottom my1">
              <dt class="h5 muted mb1 caps light">About Flux</dt>
              {% assign items = site.about | sort: 'menu-order' %}
              {% for item in items %}
                <dd class="mb2">
                  <a href="{{ site.baseurl }}{{ item.url }}" class="link-reset h-font accent-on-hover transition-fast">{{ item.title }}</a>
                </dd>
              {% endfor %}
              {% if include.no-button %}
              {% else %}
              <hr class="dark-gray border-bottom my1">
              <dd class="mb2 mt3 h4"><a href="{{site.baseurl}}/signup" class="btn btn-primary h3 xs-menu-join-button">Join Flux</a></dd>
               {% endif %}
            </dl>

          </div>
        </div>

    </div>
  </div>
</nav>
