<ul class="list-reset flex">
  <li class="opacity-hover transition mr2">
    <a href="http://www.facebook.com/sharer.php?u={{page_url}}" target="_blank">
      <img width="48" src="{{site.icon_path}}facebook-with-circle.svg" alt="Facebook" />
    </a>
  </li>
  <li class="opacity-hover transition mr2">
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{page_url}}" target="_blank">
      <img width="48" src="{{site.icon_path}}linkedin-with-circle.svg" alt="LinkedIn" />
    </a>
  </li>
  <li class="opacity-hover transition mr2">
    <a href="http://reddit.com/submit?url={{page_url}}&amp;title={{page.title | escape_url}}" target="_blank">
      <img width="48" src="{{site.icon_path}}reddit-with-circle.svg" alt="Reddit" />
    </a>
  </li>
  <li class="opacity-hover transition mr2">
      <a href="https://twitter.com/intent/tweet/?url={{page_url}}&amp;text={{page.title | url_escape }}&amp;hashtags=auspol,voteflux" target="_blank">
          <img width="48" src="{{site.icon_path}}twitter-with-circle.svg" alt="Twitter" />
      </a>
  </li>
</ul>
