/* Basscss Align */

.align-baseline { vertical-align: baseline }

.align-top      { vertical-align: top }

.align-middle   { vertical-align: middle }

.align-bottom   { vertical-align: bottom }

.middle-center-child {
    // parent must have position:relative
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
