//colors
.black { color: $black; }
.near-black { color: $near-black; }
.dark-gray { color: $dark-gray; }
.mid-gray { color: $mid-gray; }
.gray { color: $gray; }
.silver { color: $silver; }
.light-silver { color: $light-silver; }
.light-gray { color: $light-gray; }
.near-white { color: $near-white; }
.white { color: $white; }
.accent { color: $accent; }
.accent-muted { color: rgba($accent, 0.5); }
.accent-secondary { color: $accent-sec; }
.accent-sec { color: $accent-sec; }
.accent-2 { color: $accent-sec; }
.error {color: $error}
.success-color { color: $success }

//background colors
.bg-black-muted { background-color: rgba($black, 0.9)}
.bg-darken-1 {background: rgba($black, 0.1)}
.bg-darken-4 {background: rgba($black, 0.8)}
.bg-black { background-color: $black }
.bg-near-black { background-color: $near-black; }
// .bg-near-black-muted { background-color: rgba($near-black, 0.95)}
.bg-dark-gray { background-color: $dark-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-gray { background-color: $gray; }
.bg-silver { background-color: $silver; }
.bg-light-silver { background-color: $light-silver; }
.bg-light-gray { background-color: $light-gray; }
.bg-near-white { background-color: $near-white; }
.bg-white { background-color: $white; }
.bg-white { background-color: $white; }
.bg-accent { background-color: $accent; }
.bg-accent-muted { background-color: $accent-muted}
.bg-accent-light { background-color: lighten($accent, 10%)}
.bg-accent-dark { background-color: $accent-dark}
// .bg-warning { background-color: red;}
// .bg-success { background-color: green; }
.bg-accent-secondary { background-color: $accent-sec; }
.bg-accent-sec { background-color: $accent-sec; }
.bg-accent-2 { background-color: $accent-sec; }

.accent-light { color: lighten($accent, 40%)}
// border colors
.border-black { border-color: $black; }
.border-mid-gray { border-color: $mid-gray; }
.border-white { border-color: $white; }
.border-muted { border-color: rgba(255,255,255, 0.1); }
.border-accent { border-color: $accent; }
.border-accent-muted { border-color: $accent-muted; }
.border-accent-secondary { border-color: $accent-sec; }
.border-accent-sec { border-color: $accent-sec; }
.border-accent-2 { border-color: $accent-sec; }
// .border-warning { border-color: red;}
// .border-success { border-color: green; }
.border-near-white { border-color: $near-white}

// utility colors
.muted { opacity: 0.5; }
