//colors
.black { color: $black; }
.near-black { color: $near-black; }
.dark-gray { color: $dark-gray; }
.mid-gray { color: $mid-gray; }
.gray { color: $gray; }
.silver { color: $silver; }
.light-silver { color: $light-silver; }
.light-gray { color: $light-gray; }
.near-white { color: $near-white; }
.white { color: $white; }
.accent { color: $accent; }
.accent-muted { color: rgba($accent, 0.5); }
.warning { color: red; }
.success { color: green; }
// .secondary {color: #000CFF}

//background colors
.bg-black-muted { background-color: rgba($black, 0.91)}
.bg-black { background-color: $black }
.bg-near-black { background-color: $near-black; }
// .bg-near-black-muted { background-color: rgba($near-black, 0.95)}
.bg-dark-gray { background-color: $dark-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-gray { background-color: $gray; }
.bg-silver { background-color: $silver; }
.bg-light-silver { background-color: $light-silver; }
.bg-light-gray { background-color: $light-gray; }
.bg-near-white { background-color: $near-white; }
.bg-white { background-color: $white; }
.bg-accent { background-color: $accent; }
.bg-accent-muted { background-color: $accent-muted}
.bg-accent-dark { background-color: $accent-dark}
.bg-warning { background-color: red;}
.bg-success { background-color: green; }


// border colors
.border-black { border-color: $black; }
.border-mid-gray { border-color: $mid-gray; }
.border-white { border-color: $white; }
.border-muted { border-color: rgba(255,255,255, 0.1); }
.border-accent { border-color: $accent; }
.border-accent-muted { border-color: $accent-muted; }
.border-warning { border-color: red;}
.border-success { border-color: green; }
.border-near-white { border-color: $near-white}

// utility colors
.muted { opacity: 0.5; }
