fieldset,
input,
select,
textarea {
  box-sizing    : border-box;
  margin-top    : 0;
  margin-bottom : 0;
  font-family   : $font-family;
  font-size     : $h4;
}

textarea {
  height : auto !important;
}

.no-pointer-events {
  pointer-events: none;
}


label {
  vertical-align : middle;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  -webkit-appearance : none;
  height             : $form-field-height;
  padding            : $form-field-padding-y  $form-field-padding-x;
  vertical-align     : middle;
}

select {
  padding : $form-field-padding-y  $form-field-padding-x;
}

select:not([multiple]) {
  height         : $form-field-height;
  vertical-align : middle;
}

textarea {
  padding : $form-field-padding-y  $form-field-padding-x;
}

/*Basscss Forms*/

.label {
  display       : block;
  margin-bottom : $form-field-padding-x;
  font-size     : $h6;
  font-weight   : bold;
}

.input {
  display          : block;
  width            : 100%;
  height           : $form-field-height;
  margin-bottom    : $space-2;
  padding          : $form-field-padding-x;
  border           : none;
  border-bottom    : $form-border-width solid $light-silver;
  border-color     : $light-silver;
  border-radius    : 0;
  background-color : $white;
  font-family      : inherit;
  font-size        : $h2;
  transition       : all .15s ease;
  &:focus {
    border-color     : $info;
    background-color : $light-silver;
    outline          : none;
  }
  &::-webkit-input-placeholder {
        /*Chrome/Opera/Safari*/
    padding     : ($space-1 / 2) 0;
    color       : $silver;
    font-size   : $h3;
    font-weight : 300;
  }
  &::-moz-placeholder {
        /*Firefox 19+*/
    padding     : ($space-1 / 2) 0;
    color       : $silver;
    font-size   : $h3;
    font-weight : 300;
  }
  &:-ms-input-placeholder {
        /*IE 10+*/
    padding     : ($space-1 / 2) 0;
    color       : $silver;
    font-size   : $h3;
    font-weight : 300;
  }
  &:-moz-placeholder {
        /*Firefox 18-*/
    padding     : ($space-1 / 2) 0;
    color       : $silver;
    font-size   : $h3;
    font-weight : 300;
  }
  option:disabled {
    color       : red;
    font-weight : 300;
  }
}

.material-icons {
  display        : inline-block;
  position       : relative;
  top            : -1px;
  text-transform : none;
  vertical-align : middle;
  font-family    : 'Material Icons';
  font-style     : normal;
  font-weight    : normal;
  line-height    : 1;
  letter-spacing : normal;
  white-space    : nowrap;
  word-wrap      : normal;
  direction      : ltr;
    // font-size: 24px;
}

input[type=checkbox] {
  display : none;
}

/*to hide the checkbox itself*/

input[type=checkbox] + label:before {
  display     : inline-block;
  font-family : 'Material Icons';
  font-size   : 2rem;
  cursor      : pointer;
}

input[type=checkbox] + label:before {
  @extend   .material-icons;
  content : "\E835";
}

/*unchecked icon*/

input[type=checkbox] + label:before {
  letter-spacing : .5rem;
}

/*space between checkbox and label*/

input[type=checkbox]:checked + label:before {
  content : "\E834";
}

/*checked icon*/

input[type=checkbox]:checked + label:before {
  letter-spacing : .5rem;
}

/*allow space for check mark*/

.select {
  display       : block;
  width         : 100%;
  height        : $form-field-height;
  margin-bottom : $space-2;
  padding       : $form-field-padding-x;
  border        : $border-width solid #ccc;
  border-radius : $border-radius;
  font-family   : inherit;
  font-size     : inherit;
}

select {
  -webkit-appearance    : none;
  -webkit-border-radius : 0px;
}

.textarea {
  display       : block;
  width         : 100%;
  margin-bottom : $space-2;
  padding       : $form-field-padding-x;
  border        : $border-width solid #ccc;
  border-radius : $border-radius;
  font-family   : inherit;
  font-size     : inherit;
}

.error-msg-height {
  top    : 4px;
  height : $space-2;
}

.success {
  input,
  select {
    &,
    &:focus {
      border-color : $success;
    }
  }
}

.error {
  input,
  select {
    &,
    &:focus {
      border-color : $error;
    }
  }
}


.field {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

.field:focus,
.field.is-focused {
  outline: none;
  border-color: var(--field-focus-color);
  box-shadow: 0 0 0 2px color(var(--field-focus-color) a(.5));
}

.field:disabled,
.field.is-disabled {
  background-color: var(--darken-2);
  opacity: .5;
}

.field:read-only:not(select),
.field.is-read-only {
  background-color: var(--darken-2);
}


.field.is-success {
  border-color: var(--field-success-color);
}

.field.is-success:focus,
.field.is-success.is-focused {
  box-shadow: 0 0 0 2px color(var(--field-success-color) a(.5));
}

.field.is-warning {
  border-color: var(--field-warning-color);
}

.field.is-warning:focus,
.field.is-warning.is-focused {
  box-shadow: 0 0 0 2px color(var(--field-warning-color) a(.5));
}

.field:invalid,
.field.is-error {
  border-color: var(--field-error-color);
}

.field:invalid:focus,
.field:invalid.is-focused,
.field.is-error:focus,
.field.is-error.is-focused {
  box-shadow: 0 0 0 2px color(var(--field-error-color) a(.5));
}
