/* Basscss Hide */

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media #{$breakpoint-xs} {
  .xs-hide { display: none !important }
}

@media #{$breakpoint-sm-md} {
  .sm-hide { display: none !important }
}

@media #{$breakpoint-md-lg} {
  .md-hide { display: none !important }
}

@media #{$breakpoint-lg} {
  .lg-hide { display: none !important }
}

.display-none { display: none !important }