/* Basscss Typography */

.font-family-inherit { font-family: inherit }

.font-size-inherit { font-size: inherit }

.text-decoration-none { text-decoration: none }

.bold    { font-weight: $bold-font-weight /* Fallback value:  bold */ }

.regular { font-weight: $regular-font-weight }

.light { font-weight: $light-font-weight }

.italic  { font-style: italic }

.caps    { text-transform: uppercase; letter-spacing: $caps-letter-spacing; }

.left-align   { text-align: left }

.center       { text-align: center }

.right-align  { text-align: right }

.justify      { text-align: justify }

.nowrap { white-space: nowrap }

.break-word { word-wrap: break-word }

.line-height-1 { line-height: $line-height-1 }

.line-height-2 { line-height: $line-height-2 }

.line-height-3 { line-height: $line-height-3 }

.line-height-4 { line-height: $line-height-4 }

.list-style-none { list-style: none }

.underline { text-decoration: underline }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.reset-letter-spacing { letter-spacing: 0.01rem  }

.letter-spacing-1 { letter-spacing: $letter-spacing-1 }
.letter-spacing-2 { letter-spacing: $letter-spacing-2 }
.letter-spacing-3 { letter-spacing: $letter-spacing-3 }
.letter-spacing-4 { letter-spacing: $letter-spacing-4 }
