a {
  color: $accent;
  text-decoration: none;
  font-weight: $regular-font-weight;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.center-xy {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.height-3 {min-height: 14rem; }
.height-4 {min-height: 20rem; }
.height-40vh {min-height: 40vh;}
// .vh-100{min-height: 100vh;}
.min-height-100vh { min-height: 100vh}
.height-100vh {height: 100vh}
.min-height-1 {min-height: 6rem}

.square-1 {height: 12rem; width: 12rem}
.square-2 {height:4rem; width:4rem}
.mnt4 {margin-top: -$space-4}

.shadow {
  box-shadow: 0px 3px 25px 0px rgba($black,.5);
}

.shadow-light {
  box-shadow: 0px 3px 10px 0px rgba($black,.25);
}

.full-bg-img {
  background: url('../img/front-page-placeholder.jpg') no-repeat center center fixed;
  background-size: cover;
}

.texture-bg-img {
  background: url('../img/texture.png') no-repeat bottom center;
  background-size: contain;
}

.texture-1-bg-img {
  background: url('../img/texture-1.png') no-repeat bottom center;
  background-size: contain;
}

.transition {
  transition: all .25s ease;
}

.icon-adjust {
  position: relative;
  top: 2px;
  font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.h-font {font-family: $heading-font; }

.chevron {
  &:after {
    content: "chevron_right";
    font-family: 'Material Icons';
    vertical-align: middle;
    white-space: nowrap;
    color: $accent;
  }
}


.min-height-95vh {min-height: 95vh; }

:focus {
    outline: $accent dotted 2px;}

.no-focus {
  &:focus {
    outline: transparent solid 1px;
  }
}
.transition {
  transition: all ease 0.2s;
}
.transition-slow { transition: all ease 0.5s}

.opacity-hover {
  opacity: .65;
  &:hover {
    opacity:.85;
  }
  &:active {
    opacity: 1;
  }
}

.opacity-0  { opacity: 0}
.opacity-1  {opacity: 1 !important}
.will-change-opacity {
  will-change: opacity;
}
@media #{$breakpoint-sm} {
  .sm-opacity-0 { opacity: 0}
}

.navbar-height { height: 4.5rem };
