a {
  color: $accent;
  text-decoration: none;
  // font-weight: $regular-font-weight;
  opacity: 1;
  transition: opacity .1s ease;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    opacity: .7;
  }
  &:active {
    opacity: .5;
  }
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.center-xy {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.flux-logo-text-width { width: 6rem}
.flux-logo-width { width: 6rem }
.width-8rem {width: 8rem;}
.width-3rem {width: 3rem}
.width-4rem {width: 4rem}
.width-5rem {width: 5rem}
.height-3 {min-height: 14rem; }
.height-4 {min-height: 20rem; }
.height-40vh {min-height: 40vh;}
.height-30vh {min-height: 30vh;}
.height-20vh {min-height: 20vh;}
.height-10vh {min-height: 10vh;}
.min-height-05vh {min-height: 5vh;}
.min-height-100vh { min-height: 100vh}
.height-100vh {height: 100vh}
.min-height-1 {min-height: 6rem}

.square-1 {height: 12rem; width: 12rem}
.square-2 {height:4rem; width:4rem}
.mnt4 {margin-top: -$space-4}

.shadow {
  box-shadow: 0px 3px 25px 0px rgba($black,.5);
}

.deep-shadow {
  box-shadow: 13px 17px 32px -2px rgba($black,.25);
}

.shadow-light {
  box-shadow: 0px 3px 10px 0px rgba($black,.25);
}

.shadow-inset {
  box-shadow:  inset 0 93px 28px -95px rgba($black,.3);
}


.full-bg-img {
  background: url('../img/front-page-placeholder.jpg') no-repeat center center fixed;
  background-size: cover;
}

.punt-full-bg-img {
  background: url('../img/punt.jpg') no-repeat center center fixed;
  background-size: cover;
}


.texture-bg-img {
  background: url('../img/texture.png') no-repeat bottom center;
  background-size: contain;
}

.texture-1-bg-img {
  background: url('../img/texture-1.png') no-repeat bottom center;
  background-size: contain;
}

.social-icon-width { width: 3rem }
.icon-adjust {
  position: relative;
  top: 2px;
  font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}
.h-font {font-family: $heading-font; }

.chevron {
  &:after {
    content: "chevron_right";
    font-family: 'Material Icons';
    vertical-align: middle;
    white-space: nowrap;
    color: $accent;
  }
}


.min-height-95vh {min-height: 95vh; }

:focus {
    outline: $accent dotted 1px;}

.no-focus {
  &:focus {
    outline: transparent solid 1px;
  }
}

.transition { transition: all ease 0.15s; }
.transition-slow { transition: all ease 0.45s}
.transition-fast { transition: all ease 0.1s }

.opacity-hover {
  opacity: .65;
  &:hover {
    opacity:.85;
  }
  &:active {
    opacity: 1;
  }
}

.accent-on-hover {
  color: inherit;
  border-bottom: transparent $border-width-thin solid;
  &:hover {
    color: $accent;
    border-bottom: $accent $border-width-thin solid;
  }
}

.opacity-0  { opacity: 0}
.opacity-1  {opacity: 1 !important}
.will-change-opacity { will-change: opacity; }
@media #{$breakpoint-sm} {
  .sm-opacity-0 { opacity: 0}
}

.navbar-height { height: 4.5rem };
@media #{$breakpoint-sm} {
.navbar-height { height: 4.5rem };
}



@media #{$breakpoint-sm} {
  .hover-show-child {
    i {
      opacity: 0;
      transition: opacity .15s ease;
    }
    &:hover {
      i {
        opacity: 1;
      }
    }
  }
}

.all-transparent {
  background: transparent !important;
  color: transparent !important;
  border: transparent !important;
}

::-moz-selection { background: $accent-light; color: $black }
::selection { background: $accent-light; color:$black }

@media #{$breakpoint-xs} {
  .xs-menu-join-button-contianer {
    position: fixed;
    z-index: $z2;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .xs-menu-join-button {
    width: 100%;
    border-radius: 0;
    text-align: center;
    padding: $space-2;
    font-size: $h3;
  }
}

.rotate-left { transform: rotate(-2deg); }
.rotate-right { transform: rotate(3deg); }
.left-n3 {left: -$space-3}
.top-2 { top: $space-2}

// Sumone custimisation
.sumome-share-client-wrapper {
  opacity: .9;
}
.sumome-share-client-wrapper div.sumome-share-client .sumome-share-client-share img {
  opacity: 0.6;
}
.sumome-share-client-wrapper div.sumome-share-client .sumome-share-client-share {
  border: solid 1px $light-silver;
  margin-bottom: -1px;
}
