@charset "utf-8";

// typography
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif !default;
$heading-font: 'Roboto Slab' !default;
$h00: 8rem !default;
$h0: 4rem !default;
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$line-height-1: 1 !default;
$line-height-2: 1.125 !default;
$line-height-3: 1.25 !default;
$line-height-4: 1.5 !default;
$letter-spacing-1: 0.085rem !default;
$letter-spacing-2: 0.035rem !default;
$letter-spacing-3: 0.015rem !default;
$letter-spacing-4: 0.005rem !default;
$caps-letter-spacing: .2em !default;
$light-font-weight: 300 !default;
$mid-light-font-weight: 300 !default;
$regular-font-weight: 400 !default;
$bold-font-weight: 900 !default;

// layout
$width-1: 24rem !default;
$width-2: 32rem !default;
$width-3: 52rem !default;
$width-4: 80rem !default;
$breakpoint-xs: '(max-width: 40em)' !default;
$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;
$breakpoint-xl: '(min-width: 72em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;

// space scale
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

// position
$z1: 1 !default;
$z2: 2 !default;
$z3: 3 !default;
$z4: 4 !default;

// border
$border-width-thin: 2px !default;
$border-width: 3px !default;
$border-width-thick: 8px !default;
$border-radius: 3px !default;
$form-border-width: 3px !default;

// forms
$form-field-padding-x: .5rem !default;
$form-field-padding-y: .5rem !default;
$form-field-height: 3.5rem !default;

// colors
$base:         #0b0b0e !default;
$black:         $base !default;
// $near-black:    #222 !default;
$near-black: lighten($base, 10%) !default;
// $dark-gray:     #333 !default;
$dark-gray: lighten($base, 20%) !default;
// $mid-gray:      #444 !default;
$mid-gray:      lighten($base, 25%) !default;
// $gray:          #777 !default;
$gray:     lighten($base, 40%) !default;
// $silver:        #999 !default;
$silver:        lighten($base, 60%) !default;
// $light-silver:  #ccc !default;
$light-silver:  lighten($base, 80%) !default;
// $light-gray:    #eee !default;
$light-gray:    lighten($base, 87%) !default;
// $near-white:    #f4f4f4 !default;
$near-white:    lighten($base, 92%) !default;
$white:         lighten($base, 100%) !default;

$accent:        #E3580D !default; //#ff4500 !default; //#F36407 #27DCC9 // #ff9900 //#ff8200
$accent-muted:  rgba($accent, .3);
$accent-light:  lighten($accent, 30%) !default;
$accent-dark:   darken($accent, 40%) !default;
$error: #ff2f5b !default;
$info: #05bcff !default;
$success: #00da6c !default;


$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;

$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: $regular-font-weight !default;
$button-line-height: inherit !default;
$button-padding-y: $space-1 !default;
$button-padding-x: $space-2 !default;
$button-color: $white !default;
$button-background-color: $accent !default;


$border-color: $accent;



@import "normalize";
@import "init";
@import "btn";
@import "layout";
@import "align";
@import "forms";
@import "margin";
@import "type-scale";
@import "typography";
@import "padding";
@import "responsive-margin";
@import "responsive-padding";
@import "grid";
@import "flexbox";
@import "position";
@import "border";
@import "utilities";
@import "colors";
@import "hide";
@import "hamburger";
@import "slick";
