---
layout: page
permalink: about/how/
tag-section: about flux
tag-topic: how
---

<article>
  <div class="mb4">
    {% include components/main-heading.html
      text="The Flux voting system"
      font-size="h0"
      font-weight="regular"
      line="true" %}
  </div>

  <section class="mb4">
    <div class="mb3">
      <h2 class="bold h-font">1. Get your vote</h2>
      <p class="h3">Flux is egalitarian. Every Australian citizen enrolled in Flux receives one vote for each bill before parliament.</p>
    </div>

    <div class="mb3">
      <h2 class="bold h-font">2. Swap your vote</h2>
      <p class="h3">Swap away your votes on issues you don't care about, for a credit you can use on issues you do. Our software makes this easy.</p>
    </div>

    <div class="mb3">
      <h2 class="bold h-font">3. Cast your vote</h2>
      <p class="h3">Flux Representatives will vote proportionally to how Flux participants vote. This is where you make your voice heard.</p>
    </div>
  </section>

  <hr class="mb4 muted">

  <div class="mb3">
    {% include components/main-heading.html
      text="Don't feel like scrutinising every bill before parliament? We thought you might say that."
      font-size="h1"
      font-weight="regular"
      line="true" %}
  </div>

  <div class="h3 line-height-4 mb3">
    <p>We understand your life gets busy. Between work, family and trying to enjoy a social life, it can be hard to get your head around the entire business of government. With Flux, this doesn't mean you have to miss out. There are two other options:</p>
  </div>

  <dl class="ml3">
    <dt class="h-font h2 bold mb1">1. Give your votes to someone else.</dt>
    <dd class="mb2">Each of us has a special set of skills, talents and passions. For governance, this means that some of us are best suited to making decisions on specific things, which is why Flux allows participants the option to pass their voting power to someone they trust, whom they feel is better able to cast their vote. This could be a friend, a community organisation, an activist or even one of the established political parties. This is what we call democracy - the choice is yours.</dd>

    <dd class="mb3">If you change your mind about who you've given your vote to, you're free to take it back at any time. Until now, giving your vote to a traditional politician at the ballot box means they can walk away with it, and betray the values on which they were elected. When that happens, you've wasted that vote, and there's not a lot you can do about it.</dd>


    <dt class="h-font h2 bold mb1">2. Accumulate political capital.</dt>
    <dd class="mb3">Because each of us is unique, we all value different aspects of public life differently. Flux recognises this by allowing participants to trade away their votes on issues they don’t value, and save the political capital for those they do! Cast your votes for the issues most important to you and your community.
    </dd>
  </dl>
</article>


<div class="bg-white dark-gray py3 px3">
  <div class="max-width-4 mx-auto  ">

    <div class="sm-flex justify-between mxn2">

      <div class=" px2 mt2">
        <h4 class="bold">1502 members now registered</h4>
        <h5 class='line-height-4'>Flux is now a federally registered <br>  political party! <a href="http://www.aec.gov.au/parties_and_representatives/party_registration/Registered_parties/voteflux.htm">AEC details</a></h5>
      </div>

      <div class="px2 mb2sm-mb0 mt4">
        <a href="{{site.baseurl}}{{ base }}/signup" class="h2 regular link-reset inline-block py1 border-bottom border-thick border-accent chevron">
          Join the movement
        </a>
      </div>

    </div>

  </div>
</div>


<article class="py4 mt4">

  <div class="mb4">
    {% include components/main-heading.html
      text="Nine reasons why Flux will be great"
      font-size="h0"
      font-weight="regular"
      line="true" %}
  </div>

  {% include components/listicle.html
    heading="1. Empower Specialists"
    copy="Good policy is informed by policy expertise. Flux will enable specialists and experts, with the support of the Australian people, to meaningfully impact policy in their fields, in a way they never have before." %}

  {% include components/listicle.html
    heading="2. Built In Progress Through Trade"
    copy="Growing trade in resources is one of the main drivers of growing prosperity. Flux brings this logic to the political arena, by encouraging participants to focus on the areas of politics they're most passionate about." %}

  {% include components/listicle.html
    heading="3. Votes You Can Trust"
    copy="Our voting system isn’t run from a central server at party HQ. It is distributed across a public network, much like how Bitcoin works. This is a public ledger where anyone can verify that every vote is above board." %}

  {% include components/listicle.html
    heading="4. Stops Backroom Deals"
    copy="By distributing power away from brokers, middle men and party rooms, Flux makes backroom deals difficult and ineffective. Instead of convincing political operatives, lobbyists will have to convince us, the Australian people." %}

  {% include components/listicle.html
    heading="5. Better Legislation"
    copy="By harnessing the power of opportunity cost and comparitive advantage, specialists will be allowed produce better legislation than generalists, like your local member. Our process makes it easier for good legislation, backed by Australia’s best and brightest, to rise to the top." %}

  {% include components/listicle.html
    heading="6. Empower Voters"
    copy="Flux lets passionate Australians become fully involved in the political process, and to focus on the issues they care most about, and are best suited to impact. This means ordinary Aussies can set about solving the problems in their own communities." %}

  {% include components/listicle.html
    heading="7. Encourages Criticism And Debate"
    copy="Flux encourages a culture of criticism. Voters examine new policy before it's enacted. Our process demands that policy options can withstand rigorous criticism from many perspectives in society." %}

  {% include components/listicle.html
    heading="8. Ends Corruption"
    copy="Shadowy lobbyists for the big banks and corporations are going to hate Flux. Instead of wandering parliament corridors to win over Canberra insiders, they'll have to persuade ordinary people, the way it should be." %}

  {% include components/listicle.html
    heading="9. A Launchpad For Ideas"
    copy="Flux encourages Australians to bring their great ideas for their communities to the political arena. You won’t have to be a powerful political organisation to innovate for Australia's benefit." %}


</article>
