---
title: Frequently asked questions
permalink: about/faq/
layout: about
main-heading: Why Australia needs Flux
tag-section: about flux
tag-topic: answers
menu-order: 4.0
redirects:
- "/faq"
- "/faqs"
- "/about/faqs"
faqs:
- question: What does the Flux party stand for?
  answer: |
    Flux is a political movement promoting a new system of democracy called
    ‘Issue Based Direct Democracy’ (IBDD) which enables voters to influence how an
    elected Flux representative will vote on legislation in Parliament.

- question: What is Issue-Based Direct Democracy?
  answer: |
    It’s an upgrade to democracy and is grounded in the principle that the
    voting public, given time, can do better than elected officials at creating good policy.

    IBDD has three main aspects:
    <ul>
      <li>Voters get to have a say on any issues they want to, but can abstain from voting if they don’t want to;</li>
      <li>Instead of voting directly, voters can choose to delegate their vote to someone else - like a specialist, politician or just a trusted friend; and</li>
      <li>Voters can assign priority to the issues most important to them.</li>
    </ul>

- question: How will Flux & IBDD improve politics?
  answer: |
    By incentivising two core behaviours from parties & voters:
    <ul>
      <li>Sourcing & promoting good legislation to bring before Parliament: and</li>
      <li>Removing bad legislation as efficiently as possible.</li>
    </ul>
    If we setup our political system to incentive these behaviours, ahead of just getting
    parties re-elected, we will very likely improve the majority of outcomes in Parliament.

- question: >
    What is your "party line"?
  answer: >
    Our party line is: eschew the party line.

- question: Okay, sure, but what's your platform? What do you stand for?
  answer: |
    Our purpose, and entire platform, is incrementally implementing a new system of Democracy.
    We will involve the entirity of each electorate we represent. On special occaions, and provided
    our electors are okay with each occasion, we might open issues up to more voters.
    Our platform is parliamentary reform, and we deliberately
    do not have any other platforms. If we did, they would *get in the way*, and fixing parliament is
    more important than any other single issue. We only seek to change the way decisions are
    made, not to actually make the decisions ourselves. The vision of Flux is not
    to be a new government, or the authoritative source of new policy. If we did that, it would be making the
    same mistakes as our predecessors.
    The vision is to help the best policy be written. As a diverse society, problems are going to be best solved by the people affected.
    We want to empower them, and we want to empower you. That is our platform, and that is our purpose.

- question: Why do I need Flux; I already have a representative?
  answer: 'While some representatives are good, none are good enough to represent
    everyone in their electorate. Too often people''s concerns are ignored because
    their representative has different views to them. Flux believes nobody should
    be cut off from democracy just because they disagree with their representative.'

- question: How will it be implemented in a practical way?
  answer: 'Flux will use a smartphone app to allow all registered voters to participate on the legislation before Parliament.

  When a bill comes before parliament, the bill also gets uploaded to the flux app. Any time before the vote in parliament, 
  you can decide how you want to vote on that issue using the app. 

  When the time comes:

  If you have voted one way or the other, your vote gets allocated as you voted
  If you didn’t vote, but you have selected a delegate in the Flux app, and they voted on the issue, your vote gets added to theirs
  If you didn’t vote, and you don’t have a delegate (or you do, but they didn’t vote) you are rewarded with Flux points (also referred to as Liquidity Tokens in our white paper). You can use these points to add to your votes in future issues.'

- question: What are Liquidity Tokens? Flux points?
  answer:
    We don’t want everyone to vote on every issue - we want people to vote on the issues they
    know about and care about. So if you choose to abstain, you are rewarded with Flux points, which
    give you more “oomph” on a future vote. If you preserve your voting energy (tokens/points), your
    vote can carry more weight in the issues you really care about!

    Don’t try and save too much though - Flux points lose their value over time. We want you to only
    vote on the issues that matter to you - but you do have to vote (or delegate) at some point!


- question: How do you prevent vote trading from being manipulated or corrupted?
  answer: |
    Don’t think of it as trading in the conventional sense - no money is exchanged in this process.
    It’s just a mechanism to allow people to identify and prioritise the issues which matter to them.

    If everyone has to vote on every issue, it introduces the risk that people will not take the issues seriously.
    But by allowing people to “save” & “trade” their votes, issues get voted on by those who are affected the most.

    This allows voters to focus their attention on the topics most important to them. We also hope this will
    increase participation in and discussion of politics in our society, since a voter will want to know about
    the decisions before voting, so they don’t risk wasting their vote on something not important to them.

- question: Where do you provide attribution for creative common licensed works?
  answer: |
    Here: <a href="https://voteflux.org/attribution">voteflux.org/attribution</a>


- question: Is your voting system the same as direct democracy?
  answer: |
    No. Although there are similarities, they are philosophically very different.
    The main practical differences are:
    <ul>
        <li>Swapping votes is allowed</li>
        <li>Saving 'political capital' over time is allowed</li>
        <li>Some similarities are: conservation of votes and distributing uniformly over the population. <small>'Conservation of votes' is said in the same way we'd talk about 'conservation of energy' => they cannot be created or destroyed, so the number of votes before trading is always equal to the number of votes after trading, regardless of what went on in the middle.</small></li>
    </ul>
  
- question: How are candidates selected?
  answer: 'Please see: <a href="https://github.com/voteflux/voteflux.github.io/blob/master/posts/candidate-selection.md">https://github.com/voteflux/voteflux.github.io/blob/master/posts/candidate-selection.md</a>

'
- question: Where is the Flux constitution?
  answer: 'Here: <a href="https://github.com/voteflux/flux/blob/master/CONSTITUTION.md">https://github.com/voteflux/flux/blob/master/CONSTITUTION.md</a>

'
- question: When was party registration finalized?
  answer: March 29th 2016; an extremely quick application time of 2 months and 2 days.


- question: Is membership free?
  answer: |
    Yes. Membership is free forever. We don't believe charging a membership
    fee is necessary, and are working on other methods of funding to ensure we can
    provide open access to democracy to as many people as possible.

# keep this in sync with the same msg in the signup app (form-container.js)
- question: Can I still sign up if I'm a member of another political party?
  answer: |
    Yes! There's no law preventing you from being a member of multiple parties. Federally, the AEC is specific in their membership eligibility criterion for non-parliamentary parties: "at least 500 members who are on the Commonwealth electoral roll and who are not also relied upon by another party for registration purposes." Some other states have stricter criteria (such as Victoria) which prevent us using anyone who is a member of another party as a supporting member for our registration.
    <p>That said, we do ask you let us know if you're a member of another party so you we can exclude you from certain registration proceedures or membership audits.</p>


- question: Are membership details confidential?
  answer: 'Yes. Membership details will be exclusively used for party business, and
    never sold or willfully disclosed. Access to <em>relevant</em> private details of members is granted to the
    respective registered officers of the Federal and state branches for the purposes of registration
    only. Access to contact details, first names, suburbs, and postcodes is granted to
    members of Steering Committees responsible for communication with members. Addtionally
    Max has access to the full membership database as he administers it. Registered officers
    can be found on the respective party lists maintained by all electoral commissions.

'
- question: How can I revoke my membership?
  answer: 'You can revoke your membership in the members app (link at the top right of the page). To do this, navigate to <em>Menu > Your Profile > Revoke your Membership</em> 
    or click this <a href="https://app.flux.party/v/#/membership/revoke">direct link</a>. If you need to log in, you can do so 
    <a href="https://app.flux.party/login/">here</a>.
    <br><br>
    As per the constitution, you cannot revoke your membership via email.

'
- question: Where is my member details page?
  answer: 'Your member details link is sent to you when you first sign up. If you
    need it to be sent again, you can do so <a href="https://api.voteflux.org/static/html/member_resend_deets.html">here</a>.

'
- question: How do I become a volunteer?
  answer: 'Please either tick the box on your member details page, or put your email
    in to <a href="https://api.voteflux.org/static/html/member_volunteer.html">this
    page</a>, you''ll then be sent further instructions :). Most of the volunteer
    coordination happens via our <a href="https://forum.flux.party/">community
    forums</a>.

'
- question: How do you prevent people voting more than once on the Flux app?
  answer: |
    We validate every participant against the electoral role before we start
    giving them votes. Additionally, all votes are public so if someone were to try
    and vote twice it would be immediately obvious and can just be ignored by auditors.
    Since auditing software will be publicly available, anyone can audit and verify
    the result of any issue that goes through the Flux system.

- question: When can I download the app?
  answer: |
    The main app is still being developed. The core function is complete, with multiple
    stress tests demonstrating that the blockchain can handle votes far larger than Flux will
    ever realistically have to handle.

    The user interface and in-app security measures are still being implemented. The app development
    is (and will be) a long term project. Our code is hosted on Github (<a href="https://github.com/voteflux">Flux</a> & <a href="https://github.com/secure-vote">Secure Vote</a>) and is open for
    review, comment and contributions.

    In the event of a candidate being elected, a simple version of the app will be expedited and released
    prior to voting on the first bill of the new parliament.

- question: Why is it called Flux?
  answer: |
    Flux means ‘a state of constant change’. Instead of locking in your policies and preferences
    once every three to four years, Flux lets you decide and re-decide on the fly.

    Also, we think it’s short, catchy and pretty cool!

- question: Why do you believe “Politics is Broken”?
  answer: |
    We believe politicians get into politics because they want to do good, and make society a better place.
    However, no matter how good a politician’s intentions and ethics, they can’t make any changes if they don’t
    get elected. This means that the primary goal for a politician - no matter what side of the left/right divide -
    is always to get elected, and then re-elected. As a result, we see promises that can’t be kept, donations
    from businesses and lobby groups, and scoring political points getting in the way of passing good laws.
    We believe democracy can be better.

---

<h4>Contents</h4>
<ul class="sm-h3 list-reset border-left border-accent-muted pl1 sm-pl2 mb4 line-height-3 max-width-1">
  {% for faq in page.faqs %}
    <li class="mb2 regular">
      <a href="#{{faq.question | slugify }}">{{faq.question}}</a>
    </li>
  {% endfor %}
</ul>

{% for faq in page.faqs  %}
<div class="mb3">
  <span id="{{faq.question | slugify }}" class="anchor"></span>
  <h3 class="h4 sm-h3 bold">{{faq.question}}</h3>
  <p>{{faq.answer}}</p>
</div>
{% endfor %}

{% include components/hr-muted.html %}
<h3 class=" line-height-4 hover-show-child">
  For emails and other responses to various concerns see our:<br>
  <a href="https://github.com/voteflux/voteflux.github.io/blob/master/responses.md" target="_blank" class="border-bottom">Responses to common concerns</a><i class="material-icons icon-adjust muted">call_made</i>
</h3>
{% include components/hr-muted.html %}
