---
title: Frequently asked questions
permalink: about/faq/
layout: about
main-heading: Why Australia needs Flux
tag-section: about flux
tag-topic: answers
menu-order: 4.0
redirects:
- "/faq"
- "/faqs"
- "/about/faqs"
faqs:
- question: Is membership free?
  answer: 'Yes. Membership is free forever. We don''t believe charging a membership
    fee is necessary, and are working on other methods of funding to ensure we can
    provide open access to democracy to as many people as possible.

'
- question: Does Flux have a platform?
  answer: 'Yes and no. We do have a platform of parliamentary reform, and we deliberately
    do not have any other platforms. We only seek to change the way decisions are
    made, not to actually make the decisions ourselves. The vision of Flux is not
    to be the source of new policy. The vision is to help the best policy be written.

'
- question: Are membership details confidential?
  answer: 'Yes. Membership details will be exclusively used for party business, and
    never sold or willfully disclosed. Currently only Nathan and Max have access,
    though this will expand slightly as Flux proceeds through the registration process.

'
- question: Why do I need Flux; I already have a representative?
  answer: 'While some representatives are good, none are good enough to represent
    everyone in their electorate. Too often people''s concerns are ignored because
    their representative has different views to them. Flux believes nobody should
    be cut off from democracy just because they disagree with their representative.

'
- question: Can I still sign up if I'm a member of another political party?
  answer: |
    Yes! The AEC is specific in their criterion for registration: "at least 500 members who are on the Commonwealth electoral roll and who are not also relied upon by another party for registration purposes."

    This means you're able to support Flux as a founding member if you're a member of any other party with a parliamentarian (so Labor, Liberal, Nationals, Greens, etc are all okay). The only time it is an issue is if you are a member of a party who does not have a parliamentarian, and are used by that party to support their registration.
- question: Where do you provide attribution for creative common licensed works?
  answer: 'Here: <a href="https://voteflux.org/attribution">voteflux.org/attribution</a>

'
- question: Is your voting system the same as direct democracy?
  answer: |
    No. Although there are similarities, they are philosophically very different.
    The main practical differences are:
    <ul>
        <li>Swapping votes is allowed</li>
        <li>Saving 'political capital' over time is allowed</li>
        <li>Some similarities are: conservation of votes and distributing uniformly over the population. <small>'Conservation of votes' is said in the same way we'd talk about 'conservation of energy' => they cannot be created or destroyed, so the number of votes before trading is always equal to the number of votes after trading, regardless of what went on in the middle.</small></li>
    </ul>
- question: How are candidates selected?
  answer: 'Please see: <a href="https://github.com/voteflux/voteflux.github.io/blob/master/posts/candidate-selection.md">https://github.com/voteflux/voteflux.github.io/blob/master/posts/candidate-selection.md</a>

'
- question: Where is the Flux constitution?
  answer: 'Here: <a href="https://github.com/voteflux/flux/blob/master/CONSTITUTION.md">https://github.com/voteflux/flux/blob/master/CONSTITUTION.md</a>

'
- question: When was party registration finalized?
  answer: 'March 29th 2016; an extremely quick application time of 2 months and 2
    days.

'
- question: How can I revoke my membership?
  answer: 'There is a button on your user details page in red at the bottom. All you
    need to do is click that. You were emailed a link to your user details when you
    joined, from the Flux Membership Robot.
    <br><br>
    As per the constitution, you cannot revoke your membership via email.

'
- question: Where is my member details page?
  answer: 'Your member details link is sent to you when you first sign up. If you
    need it to be sent again, you can do so <a href="https://api.voteflux.org/static/html/member_resend_deets.html">here</a>.

'
- question: How do I become a volunteer?
  answer: 'Please either tick the box on your member details page, or put your email
    in to <a href="https://api.voteflux.org/static/html/member_volunteer.html">this
    page</a>, you''ll then be sent further instructions :). Most of the volunteer
    coordination happens via our <a href="https://community.voteflux.org">community
    forums</a>.

'
- question: How do you prevent people voting more than once on the Flux app?
  answer: 'We validate every participant against the electoral role before we start
    giving them votes. Additionally, all votes are public so if someone were to try
    and vote twice it would be immediately obvious and can just be ignored by auditors.
    Since auditing software will be publicly available, anyone can audit and verify
    the result of any issue that goes through the Flux system.

'
- question: What is the relationship between The Flux Party and The Flux Startup?
  answer: "<strong>NB:</strong> The Flux Startup is going to be renamed and moved
    out of the core Flux movement. While it will still serve to funnel venture capital
    into Flux, is still for-profit, and will still build the voting software for Flux,
    it will not be a core part of the movement. This allows the movement to be entirely
    Not For Profit, and was done at the request of some of our members who felt it
    was innapropriate to have a for profit entity so close (organisationally) to the
    movement. <br> <strong>The following is left as an archive of our previous answer:</strong>
    The Flux Party is a registered party in Australia. It has Not For Profit status
    as a political party, and is run according to its constitution (see above). The
    Flux Startup is a company registered in Australia with the express goal of developing
    and maintaining the technology to facilitate the Flux system, which will be used
    by The Flux Party. They are legally separate and cooperative organisations. Together,
    they form core parts of The Flux Movement, though they do not make up the whole
    movement. Over time, the vision for Flux includes other organisations including
    not for profits and trusts.\n"
---

<h4>Contents</h4>
<ul class="sm-h3 list-reset border-left border-accent-muted pl1 sm-pl2 mb4 line-height-3 max-width-1">
  {% for faq in page.faqs %}
    <li class="mb2 regular">
      <a href="#{{faq.question | slugify }}">{{faq.question}}</a>
    </li>
  {% endfor %}
</ul>

{% for faq in page.faqs  %}
<div class="mb3">
  <span id="{{faq.question | slugify }}" class="anchor"></span>
  <h3 class="h4 sm-h3 bold">{{faq.question}}</h3>
  <p>{{faq.answer}}</p>
</div>
{% endfor %}

{% include components/hr-muted.html %}
<h3 class=" line-height-4 hover-show-child">
  For emails and other responses to various concerns see our:<br>
  <a href="https://github.com/voteflux/voteflux.github.io/blob/master/responses.md" target="_blank" class="border-bottom">Responses to common concerns</a><i class="material-icons icon-adjust muted">call_made</i>
</h3>
{% include components/hr-muted.html %}
