---
layout: about
permalink: about/how/
tag-section: about flux
tag-topic: how
main-heading: The Flux voting system explained
title: The Flux voting system explained
order: 1
menu-order: 2.0

features:
- heading: Get your vote
  text: Flux is egalitarian. Every Australian citizen enrolled in Flux receives one vote for each bill before parliament.
  image: get-your-vote.svg

- heading: Swap your vote
  text: Swap away your votes on issues you don't care about, for a credit you can use on issues you do. Our software makes this easy.
  image: swap-your-vote.svg

- heading: Cast your vote
  text: Flux Representatives will vote proportionally to how Flux participants vote. This is where you make your voice heard.
  image: cast-your-vote.svg

reasons:
- heading: Empower Specialists
  copy: Good policy is informed by policy expertise. Flux will enable specialists and experts, with the support of the Australian people, to meaningfully impact policy in their fields, in a way they never have before.

- heading: Built In Progress Through Trade
  copy: Growing trade in resources is one of the main drivers of growing prosperity. Flux brings this logic to the political arena, by encouraging participants to focus on the areas of politics they're most passionate about.

- heading: Votes You Can Trust
  copy: Our voting system isn’t run from a central server at party HQ. It is distributed across a public network, much like how Bitcoin works. This is a public ledger where anyone can verify that every vote is above board.

- heading: Stops Backroom Deals
  copy: By distributing power away from brokers, middle men and party rooms, Flux makes backroom deals difficult and ineffective. Instead of convincing political operatives, lobbyists will have to convince us, the Australian people.

- heading: Better Legislation
  copy: By harnessing the power of opportunity cost and comparitive advantage, specialists will be allowed produce better legislation than generalists, like your local member. Our process makes it easier for good legislation, backed by Australia’s best and brightest, to rise to the top.

- heading: Empower Voters
  copy: Flux lets passionate Australians become fully involved in the political process, and to focus on the issues they care most about, and are best suited to impact. This means ordinary Aussies can set about solving the problems in their own communities.

- heading: Encourages Criticism And Debate
  copy: Flux encourages a culture of criticism. Voters examine new policy before it's enacted. Our process demands that policy options can withstand rigorous criticism from many perspectives in society.

- heading: Ends Corruption
  copy: Shadowy lobbyists for the big banks and corporations are going to hate Flux. Instead of wandering parliament corridors to win over Canberra insiders, they'll have to persuade ordinary people, the way it should be.

- heading: A Launchpad For Ideas
  copy: Flux encourages Australians to bring their great ideas for their communities to the political arena. You won’t have to be a powerful political organisation to innovate for Australia's benefit.
---



{% include base.html %}
<article class="mb4">
  <section class="mb4">
    {% for feature in page.features %}
      <div class="mb3">
        <div class="sm-flex mxn2">
          <div class="order-1">
            <img src="{{base}}/img/about/{{feature.image}}" width="1000" alt="{{feature.heading}}">
          </div>
          <div class="px2 order-0">
            <div>
              <h2 class="bold mt0">{{ forloop.index }}. {{feature.heading | capitalize }}</h2>
              <p class="h2 regular h-font light">{{feature.text}}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

  {% include components/hr-muted.html %}

  <h3 class="h-font h2 sm-h1 line-height-4 mb3">
    Don't feel like scrutinising every bill before parliament? We thought you might say that. There are two other options:
  </h3>

  <dl>
    <dt class="h4 sm-h3 bold mb1">1. Give your votes to someone else.</dt>
    <dd class="mb2">Each of us has a special set of skills, talents and passions. For governance, this means that some of us are best suited to making decisions on specific things, which is why Flux allows participants the option to pass their voting power to someone they trust, whom they feel is better able to cast their vote. This could be a friend, a community organisation, an activist or even one of the established political parties. This is what we call democracy - the choice is yours.</dd>

    <dd class="mb3">If you change your mind about who you've given your vote to, you're free to take it back at any time. Until now, giving your vote to a traditional politician at the ballot box means they can walk away with it, and betray the values on which they were elected. When that happens, you've wasted that vote, and there's not a lot you can do about it.</dd>


    <dt class="h4 sm-h3 bold mb1">2. Accumulate political capital.</dt>
    <dd class="mb3">Because each of us is unique, we all value different aspects of public life differently. Flux recognises this by allowing participants to trade away their votes on issues they don’t value, and save the political capital for those they do! Cast your votes for the issues most important to you and your community.
    </dd>
  </dl>

</article>

{% include components/inline-signup.html %}

<article class="pt4 mt4 mid-gray">
  <div class="mb4">
    {% include components/main-heading.html
      text="Nine reasons why Flux voting system will be great"
      font-size="h0"
      font-weight="bold"
      line="true" %}
  </div>

  {% for reason in page.reasons %}
    <section class="mb3">
      <h3 class="h4 sm-h3 bold">{{ forloop.index }}. {{reason.heading | capitalize }}</h3>
      <p>{{reason.copy}}
    </section>
  {% endfor %}
</article>
