---
layout: about
title: Who is behind Flux?
permalink: about/who/
tag-section: about flux
tag-topic: who
menu-order: 3.0
---
{% include base.html %}

<div class=""><p>We are Australians with a drive to improve democracy. We believe that our structure for decision making and leadership are outdated, and that with the technology we have available, we can do better. (See below for leadership)</p>

<p>Flux is a movement not about ideology, but about progress for process. Flux Party members come from every age bracket and all walks of life, as well as from the left, centre, and right of politics.</p>

<p>We’re for uniting all of Australia for a simple cause; better democracy for a brighter future.</p>

<p>If you're like us and want to see this country work toward a truly brighter future, join us.</p></div>

<div class="mb4">{% include components/inline-signup.html %}</div>


{% include components/main-heading.html
  text="Get to know the founders"
  font-size="sm-h1 line-height-3"
  font-weight="bold"
  line="true" %}
<div class="">
    <div class="sm-flex sm-mxn3 mb4">
      <div class="sm-col-4 sm-px3 order-1">
        <div class="overflow-hidden circle square-1 mb3">
          <img src="{{base}}/img/max.jpg" alt="Max Kaye">
        </div>
      </div>
      <div class="sm-col-8 sm-px3 order-0">
        <h3 id="max-kaye" class="mt0 bold">Max Kaye</h3>
        <p>
          Max is passionate about improving the world. He is a software developer and blockchain consultant. His educational background is in science, mathematics, and information systems, and has a lifelong interest in economics, political philosophy, disruptive startups, and theory of knowledge.
        </p>
        <p>
          Max sees immense scope for technology to empower ordinary people to properly participate in their democracy. He knows there's a better way of doing things. He prefers to use the oxford comma.
        </p>
      </div>
    </div>
</div>
<div class="">
    <div class="sm-flex sm-mxn3">
      <div class="sm-col-4 sm-px3 order-1">
        <div class="overflow-hidden circle square-1 mb3">
          <img src="{{base}}/img/nathan.jpg" alt="Nathan Spataro">
        </div>
      </div>
      <div class="sm-col-8 sm-px3 order-0">
        <h3 id="nathan-spataro" class="mt0 bold">Nathan Spataro</h3>
        <p>
          Nathan is an ardent and outspoken proponent of free speech, civil liberties, and human rights. His educational background is in government, international relations, and philosophy. He has campaigned in previous elections for minor parties.
        </p>
        <p>
          Nathan's work background is in sales and IT, but has more recently become passionate about blockchain technology and its impact on the future of politics. Nathan believes in a free and open society that places a high value on healthy criticism and debate. He is excited that ordinary Australians could one day play a much greater part in their country’s political future.
        </p>
      </div>
    </div>

    {% include components/hr-muted.html %}
    <h3 class="">
      Join Nathan &amp; Max at the next &nbsp;<a href="http://www.meetup.com/FluxSydney/" target="_blank" class="border-bottom">Flux meetup</a><i class="material-icons icon-adjust muted">call_made</i>
    </h3>
