<div class="bg-light-gray dark-gray border-accent-muted rounded p3 sm-p3 mt3">
  <div class="max-width-4 mx-auto">

    <div class="sm-flex justify-between flex-wrap content-end mxn2">
      <div class="px2 md-m0 mb3">
        <h2 class="bold">Join the movement</h2>
        <h3 class="mb3">Help us Upgrade Democracy!</h3>
        <hr class="border-bottom muted silver">
        <h4 class="sm-h3"><span class="js-member-count" class="bold">Loading...</span> members registered</h4>
        <h4 class='line-height-4 sm-h4'>Flux is Australia's most transparent political party!
        <br>
        <a href="/transparency">Read our post on why this matters.</a></h4>
      </div>

      <div class="px2 sm-flex flex-column justify-end">
        <a href="{{site.baseurl}}/signup/?utm_source=mainsite&utm_medium=web&utm_campaign={{ page.utm_campaign | default: 'none' }}&utm_content=inline-signup~{{ page.url | slugify }}" class="h3 btn btn-primary">
          Join Flux now
        </a>
      </div>

    </div>
  </div>
</div>
