<div class="bg-light-gray dark-gray border-accent-muted rounded mxn1 p3 sm-p3 mt4">
  <div class="max-width-4 mx-auto">

    <div class="sm-flex justify-between flex-wrap content-end mxn2">
      <div class="px2 mb3 lg-m0">
        <h2 class="bold mb3">Become part of something great</h2>
        <h4 class="sm-h3"><span id="js-member-count" class="bold">Loading...</span> members registered</h4>
        <h4 class='line-height-4 sm-h4'>Flux is now a federally registered <br> political party! <a href="http://www.aec.gov.au/parties_and_representatives/party_registration/Registered_parties/voteflux.htm">See AEC website for details</a></h4>
      </div>

      <div class="px2 sm-flex flex-column justify-end">
        <a href="{{site.baseurl}}/signup" class="h3 btn btn-primary">
          Join Flux now
        </a>
      </div>

    </div>
  </div>
</div>
