input,
select,
textarea,
fieldset {
  font-family: $font-family ;
  font-size: $h4 ;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: --form-field-height ;
  padding: $form-field-padding-y  $form-field-padding-x ;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  padding: $form-field-padding-y  $form-field-padding-x ;
}

select:not([multiple]  {
  height: --form-field-height ;
  vertical-align: middle;
}

textarea {
  padding: $form-field-padding-y  $form-field-padding-x ;
}

/* Basscss Forms */

.label {
  font-size: .875rem;
  font-weight: bold;
  display: block;
  margin-bottom:$form-field-padding-x;
}

.input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: $form-field-height;
  padding: $form-field-padding-x;
  margin-bottom: $space-2;
  border: $border-width solid #ccc;
  border-radius: $border-radius;
}

.select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: $form-field-height;
  padding: $form-field-padding-x;
  margin-bottom: $space-2;
  border: $border-width solid #ccc;
  border-radius: $border-radius;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding:$form-field-padding-x;
  margin-bottom: $space-2;
  border: $border-width solid #ccc;
  border-radius: $border-radius;
}