---
layout: default
header-theme: light
---

{% include base.html %}
{% include navbar.html%}
<div class="full-bg-img height-10vh">
</div>
<main class="bg-white mid-gray pb4 pt3 sm-pt5 px2 sm-px3">
  <div class="mx-auto max-width-3">

        <h4 class=" mt1">
          {% if page.tag-section %}
          <span class="muted"> {{ page.tag-section | upcase }} </span>
          {% comment %} <!-- #47 = / --> {% endcomment %}
          <span> &#47; </span>
          <span class="bold"> {{ page.tag-topic | upcase }} </span>
          {% endif %}
        </h4>
        <div class="sm-mb4 mb3">
          {% capture heading-font-size %}
            {% if page.is-hero-like %} h00-5 {%else%} h0 {%endif%}
          {% endcapture %}

          {% capture subheading-font-size %}
            {% if page.is-hero-like %} h0-5 {%else%} h1 {%endif%} regular
          {% endcapture %}

          {% include components/main-heading.html
            text=page.title
            font-size=heading-font-size
            font-weight="bold"
            sub-text=page.subtitle
            sub-font-size=subheading-font-size
            line="true" %}
            <div class="font-noto-serif">
              {% if page.author %}
                <em>Author: {{ page.author }}</em>
              {% endif %}
              {% if page.author and page.date %}
                &mdash;
              {% endif %}
              {% if page.date %}
                {{page.date | date: "%a, %-d %B %Y" }}
              {% endif %}
            </div>
        </div>

        <div class="break-word">
          {% comment %}<!--{{ content }}-->{% endcomment %}
          {% comment %} By breaking out page.press-release in this way, it will not be included in page.extract {% endcomment %}
          {% capture content_w_extra %}
            {% if page.press-release %}<em><strong>{{ page.press-release }}</strong></em> {% endif %}
            {{content}}
          {% endcapture %}
          {% include anchor_headings.html html=content_w_extra beforeHeading=true anchorBody='#' %}
          {% include talkyard-comments.html %}
        </div>
        <div class="mb4">
          {% include components/inline-signup.html %}
        </div>

          {% include components/hr-muted.html %}
          <h4 class="mt0 mb1 accent">share</h4>
          {% include social-buttons.html %}
      </div>

  </div>
</main>

{% assign items = site.about | sort: 'menu-order' %}

  {% for item in items %}
    {% if item.url != page.url %}
     <hr class="black muted border-bottom m0">
      <section class="bg-dark-gray near-white px3 py4 relative z1">
        <div class="max-width-4 mx-auto">
          <div class="sm-col-9">
            <h5 class="h4"><span class="gray">
              ABOUT FLUX</span> / <span class="bold">{{item.tag-topic | upcase }}</span>
            </h5>
            <h1 class="h0 bold">{{item.title}}</h1>
            <a href="{{site.baseurl}}{{item.url}}" class="h3 sm-h2 link-reset border-bottom inline-block accent">
              Learn more
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}

{% include footer.html%}
