---
layout: default
header-theme: light
---

{% include base.html %}
{% capture page_url %}https:/{{site.baseurl}}{{page.url}}{% endcapture %}
{% include navbar.html%}
<div class="full-bg-img height-30vh">
</div>
<main class="bg-white mid-gray pb4 pt3 sm-pt5 px2 sm-px3">
  <div class="mx-auto max-width-3">

        <h4 class=" mt1">
          <span class="muted"> {{ page.tag-section | upcase }} </span>
          <span> / </span>
          <span class="bold"> {{ page.tag-topic | upcase }} </span>
        </h4>
        <div class="sm-mb4 mb3">
          {% include components/main-heading.html
            text=page.title
            font-size="h0"
            font-weight="bold"
            line="true" %}
        </div>

        <div class="break-word">
          {{ content }}
        </div>
        <div class="mb4">
          {% include components/inline-signup.html %}
        </div>

          {% include components/hr-muted.html %}
          <h4 class="mt0 mb1 accent">share</h4>
          {% include social-buttons.html %}
      </div>

  </div>
</main>

{% assign items = site.about | sort: 'menu-order' %}

  {% for item in items %}
    {% if item.url != page.url %}
     <hr class="black muted border-bottom m0">
      <section class="bg-dark-gray near-white px3 py4 relative z1">
        <div class="max-width-4 mx-auto">
          <div class="sm-col-9">
            <h5 class="h4"><span class="gray">
              ABOUT FLUX</span> / <span class="bold">{{item.tag-topic | upcase }}</span>
            </h5>
            <h1 class="h0 bold">{{item.title}}</h1>
            <a href="{{site.baseurl}}{{item.url}}" class="h3 sm-h2 link-reset border-bottom inline-block accent">
              Learn more
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}

{% include footer.html%}
